<div class="col-xs-12">
    <div class="box box-default" style="padding: 10px;">
        <div class="box-header">
            <h3 class="box-title">RA List</h3>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Ra Type</th>
                <th>Order Number</th>
                <th>Customer Name</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>State</th>
                <th>Status</th>
                <th>Label Id</th>
                <th>Tracking Code</th>
                <th>Transaction Id</th>
                <th>Comments</th>
                <th>User Name</th>

                <th>Updated At</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td><input name="chk_items" class="chk_items" value="{{ item.id }}"
                               data_item_id="{{ item.id }}"
                               order_number="{{ item.order_number }}"
                               customer_name="{{ item.customer_name }}"
                               quantity="{{ item.quantity }}"
                               amount="{{ item.amount }}"
                               ra_type="{{ item.ra_type }}"
                               state="{{ item.state }}"
                               status="{{ item.status }}"
                               label_id="{{ item.label_id }}"
                               created_at="{{ item.created_at }}"
                               type="radio"></td>
                    <td>
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.ra_type }}
                    </td>
                    <td>
                        {{ item.order_number }}
                    </td>
                    <td>
                        {{ item.customer_name }}
                    </td>
                    <td>
                        {{ item.quantity }}
                    </td>
                    <td>
                        {{ item.amount }}
                    </td>
                    <td>
                        {{ item.state }}
                    </td>
                    <td>
                        {{ item.status }}
                    </td>
                    <td>
                        {{ item.label_id }}
                    </td>
                    <td>
                        {{ item.tracking_code }}
                    </td>
                    <td>
                        {{ item.transaction_id }}
                    </td>
                    <td>
                        {{ item.comments }}
                    </td>

                    <td>
                        {{ item.user_name }}
                    </td>

                    <td>
                        {{ item.updated_at }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
<div class="col-xs-12" style="width: 100%;text-align: center;">
   {% include 'page_number.html' %}
</div>


