{% extends 'base.html' %}
{% block h1 %}Settings{% endblock %}
{% block small %}Users{% endblock %}
{% block content %}
    <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">修改密码</h3>
            </div>
    <form role="form">
    {% csrf_token %}
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">旧密码</label>
                  <input type="password" class="form-control" name="oldPassword" id="exampleInputEmail1" placeholder="请输入旧密码">
                </div>
                <div class="form-group">
                  <label for="exampleInputPasswordOne">新密码</label>
                  <input type="password" class="form-control" name="newPasswordOne" id="exampleInputPasswordOne" placeholder="请输入新密码">
                </div>
                  <div class="form-group">
                  <label for="exampleInputPasswordTwo">新密码</label>
                  <input type="password" class="form-control" name="newPasswordTwo" id="exampleInputPasswordTwo" placeholder="请再次输入新密码">
                </div>

              <!-- /.box-body -->

                  <div class="box-footer">
                    <button type="button" class="btn btn-default" id="btnp">Change</button>
                  </div>
              </div>
    </form>
          </div>
    </div>


{% endblock %}
{% block jquery %}
    <script>
        $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                });
       $('#btnp').click(function(){
           var oldPassword = $('#exampleInputEmail1').val();
           var newPasswordOne = $('#exampleInputPasswordOne').val();
           var newPasswordTwo = $('#exampleInputPasswordTwo').val();
           $.ajax({
               url:"/oms/changePassword/",
               type:'POST',
               data:{
                   'oldPassword':oldPassword,
                   'newPasswordOne':newPasswordOne,
                   'newPasswordTwo':newPasswordTwo
               },
               success:function(arg){
                   if(arg == 'Success'){
                       layer.msg('密码修改成功', {time:3000,icon: 6});
                       window.location.reload ( true );

                   }else if(arg == 'Wrong'){
                       layer.msg('两次输入新密码不一致', {time:3000,icon: 7});
                   }else{
                       layer.msg('旧密码不正确', {time:3000,icon: 7});
                   }

               }
           })
       })
    </script>
{% endblock %}