{% extends 'base.html' %}
{% load static %}
{% block h1 %}Lab Orders{% if page_info.total %}<span class="label label-default">{{ page_info.total }}</span>
{% endif %} {% endblock %}
{% block small %}装配{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-xs-8">
            <!--Search-->
            <div style="float: left;">{% include 'search.html' %}</div>
            <!--Search end-->

            <!--Actions-->
            <div class="cl">
                <div style="float: left;margin-right: 3px;margin-left:10px; display:none;">
                    <button id="btn_back" type="button" class="btn btn-default btn active" role="button"
                            onClick="javascript :history.back(-1);">返回
                    </button>
                </div>

                {% for workshop in form_data.stal %}
                <div style="float: left;margin-left: 5px;">
                    <a class="btn btn-block btn-default btn-flat"
                       href={% url 'construction_voucher_finished_glasses_print' %}?id={{ form_data.id }}&ws={{ workshop.key }}
                    target='view_window'>{{ workshop.value }}</a>
                </div>
                {% endfor %}

                <!--{% if perms.oms.CVFG_VIEW1 %}-->
                    <!--<div style="float: left;margin-left: 5px;">-->
                        <!--<a class="btn btn-block btn-default btn-flat"-->
                           <!--href={% url 'construction_voucher_finished_glasses_print' %}?id={{ form_data.id }}&ws={{ form_data.ws1.key }}-->
                           <!--target='view_window'>{{ form_data.ws1.value }}</a>-->
                    <!--</div>-->
                <!--{% endif %}-->

                <!--{% if perms.oms.CVFG_VIEW2 %}-->
                    <!--<div style="float: left;margin-left: 5px;">-->
                        <!--<a class="btn btn-block btn-default btn-flat"-->
                           <!--href={% url 'construction_voucher_finished_glasses_print' %}?id={{ form_data.id }}&ws={{ form_data.ws2.key }}-->
                           <!--target='view_window'>{{ form_data.ws2.value }}</a>-->
                    <!--</div>-->
                <!--{% endif %}-->

                <!--{% if perms.oms.CVFG_VIEW3 %}-->
                    <!--<div style="float: left;margin-left: 5px;">-->
                        <!--<a class="btn btn-block btn-default btn-flat"-->
                           <!--href={% url 'construction_voucher_finished_glasses_print' %}?id={{ form_data.id }}&ws={{ form_data.ws3.key }}-->
                           <!--target='view_window'>{{ form_data.ws3.value }}</a>-->
                    <!--</div>-->
                <!--{% endif %}-->

                <!--{% if perms.oms.CVFG_VIEW4 %}-->
                    <!--<div style="float: left;margin-left: 5px;">-->
                        <!--<a class="btn btn-block btn-default btn-flat"-->
                           <!--href={% url 'construction_voucher_finished_glasses_print' %}?id={{ form_data.id }}&ws={{ form_data.ws4.key }}-->
                           <!--target='view_window'>{{ form_data.ws4.value }}</a>-->
                    <!--</div>-->
                <!--{% endif %}-->

                <!--{% if perms.oms.CVFG_VIEW5 %}-->
                    <!--<div style="float: left;margin-left: 5px;">-->
                        <!--<a class="btn btn-block btn-default btn-flat"-->
                           <!--href={% url 'construction_voucher_finished_glasses_print' %}?id={{ form_data.id }}&ws={{ form_data.ws5.key }}-->
                           <!--target='view_window'>{{ form_data.ws5.value }}</a>-->
                    <!--</div>-->
                <!--{% endif %}-->

                <!--{% if perms.oms.CVFG_VIEW8 %}-->
                    <!--<div style="float: left;margin-left: 5px;">-->
                        <!--<a class="btn btn-block btn-default btn-flat"-->
                           <!--href={% url 'construction_voucher_finished_glasses_print' %}?id={{ form_data.id }}&ws={{ form_data.ws8.key }}-->
                           <!--target='view_window'>{{ form_data.ws8.value }}</a>-->
                    <!--</div>-->
                <!--{% endif %}-->

            </div>
        </div>
    </div>
    <!--Actions end-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% if form_data.code == 0 %}
                        <div style="color: #04ff0f;font-size: 18px;">{{ form_data.message }}</div>
                         {% if form_data.flag == 0 %}
                            <div><a style="color:#d73925 ;font-size: 18px;" href="/oms/redirect_construction_voucher/?id={{ form_data.id }}&production_flag=1">补打作业单</a></div>
                        {% endif %}
                    {% else %}
                        <div style="background: #d73925;color: #ffffff;font-size: 18px;">{{ form_data.message }}</div>
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!--Table-->
    <!--<div class="row">
        <div class="col-xs-8">
            <div class="box box-default">
                <div id="tableContent">

                    <table class="table table-bordered table-striped dataTable">
                        <caption>镜架</caption>
                        <thead>

                        </thead>
                        <tbody>
                        <tr>
                            <td>订单号</td>
                            <td colspan="7"><b>{{ form_data.obj.lab_number }}</b></td>
                            <td>发货方式</td>
                            <td>{{ form_data.obj.get_ship_direction_display }}</td>
                            <td>打印时间</td>
                            <td>{{ form_data.created_at }}</td>
                        </tr>
                        <tr>
                            <td>设计</td>
                            <td>{{ form_data.obj.pal_design_name }}</td>
                            <td>镜架</td>
                            <td>{{ form_data.obj.frame }}</td>
                            <td>数量</td>
                            <td>{{ form_data.obj.quantity }}</td>
                            <td>尺寸</td>
                            <td>{{ form_data.obj.size }}</td>
                            <td>直径</td>
                            <td>{{ form_data.obj.dia_1 }}</td>
                            <td>直径2</td>
                            <td>{{ form_data.obj.dia_2 }}</td>
                        </tr>
                        <tr>

                        </tr>

                        </tbody>
                    </table>
                    <table class="table table-bordered table-striped dataTable">
                        <caption>镜片</caption>
                        <tbody>
                        <tr>
                            <td>镜片类型</td>
                            <td>P/A</td>
                            <td>产品名称</td>
                            <td>折射率</td>
                            <td>工艺</td>
                            <td>染色</td>
                        </tr>
                        <tr>
                            <td rowspan="3">{{ item.lens_type }}</td>
                            <td>计划</td>
                            <td>{{ form_data.obj.lens_name }}</td>
                            <td>{{ form_data.obj.lens_index }}</td>
                            <td>HMC</td>
                            <td>
                                {% if form_data.obj.coating_name %}
                                    {{ form_data.obj.coating_name }}
                                {% endif %}
                                {% if form_data.obj.tint_name %}
                                    {{ form_data.obj.tint_name }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>实际</td>
                            <td>{{ form_data.obj.act_lens_name }}</td>
                            <td>{{ form_data.obj.lens_index }}</td>
                            <td>HMC</td>
                            <td>
                                {% if form_data.obj.coating_name %}
                                    {{ form_data.obj.coating_name }}
                                {% endif %}
                                {% if form_data.obj.tint_name %}
                                    {{ form_data.obj.tint_name }}
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-hover">
                        <caption>验光单</caption>
                        <tr>
                            <th>#</th>
                            <th>SPH</th>
                            <th>CYL</th>
                            <th>AXIS</th>
                            <th>ADD</th>
                            <th>PD</th>
                        </tr>
                        <tr>
                            <td>OD</td>
                            <td>{{ item.od_sph }}</td>
                            <td>{{ item.od_cyl }}</td>
                            <td>{{ item.od_axis }}</td>
                            <td>{{ item.od_add }}</td>
                            <td>
                                {% ifequal item.is_singgle_pd 1 %}{{ item.pd }}{% endifequal %}
                                {% ifequal item.is_singgle_pd 0 %}{{ item.od_pd }}{% endifequal %}
                            </td>
                        </tr>
                        <tr>
                            <td>OS</td>
                            <td>{{ item.os_sph }}</td>
                            <td>{{ item.os_cyl }}</td>
                            <td>{{ item.os_axis }}</td>
                            <td>{{ item.os_add }}</td>
                            <td>
                                {% ifequal item.is_singgle_pd 0 %}{{ item.os_pd }}{% endifequal %}
                            </td>
                        </tr>
                    </table>

                    <table class="table table-hover">
                        <caption>验光单-扩展</caption>
                        <tr>
                            <th>#</th>
                            <th>Prism-H</th>
                            <th>Base-H</th>
                            <th>Prism-V</th>
                            <th>Base-V</th>
                        </tr>
                        <tr>
                            <td>OD</td>
                            <td>{{ item.od_prism }}</td>
                            <td>{{ item.od_base }}</td>
                            <td>{{ item.od_prism1 }}</td>
                            <td>{{ item.od_base1 }}</td>
                        </tr>
                        <tr>
                            <td>OS</td>
                            <td>{{ item.os_prism }}</td>
                            <td>{{ item.os_base }}</td>
                            <td>{{ item.os_prism1 }}</td>
                            <td>{{ item.os_base1 }}</td>
                        </tr>
                    </table>
                    <table class="table table-bordered table-striped dataTable">
                        <caption>备注</caption>
                        <thead>

                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2">备注1</td>
                            <td colspan="8">{{ item.comments }}【加工瞳高{{ item.lab_seg_height }}mm】【装配瞳高按标准瞳高{{ item.assemble_height }}mm】【特殊处理:{{ item.special_handling }}】</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>-->
    <!--Table end-->

    <!--paginator-->
    <!--paginator end-->

{% endblock %}

{% block jquery %}
    <script>
        $("#number").bind("keypress", function (event) {
            if (event.keyCode == "13") {
                $("#btnSearch").click();
            }
        });

        $("#btnSearch").on("click", function () {
            order_number = $("#number").val();
            if (order_number == '' || order_number == null) {
                layer.msg('Please enter a order number', {time: 3000, icon: 7});
            }
            else {
                location.href = '/oms/redirect_construction_voucher_finished_glasses/?id=' + order_number;
            }
        });
    </script>
{% endblock %}

