{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>制镜光学有限公司--成镜施工单</title>
    <link rel="stylesheet" href="{% static "css/print_template.css" %}">
    <script src={% static "js/jquery-2.2.3.min.js" %}></script>
</head>
<script>
    $(document).ready(function () {
        window.print();
        //$("#print_1").click(function () {
        //    window.print();
        //})
    })
</script>
<body>
<div id="print-content">
    <div class="header clear">
        <div class="titleArea;display:none">
            <span style="font-size: large"><b>成镜施工单-{{ item.workshop }}</b></span>
        </div>
    </div>
    <table class="tableTopBorder_3">
        <thead>

        </thead>
        <tbody>
        <tr>
            <td>订单号</td>
            <td><b>{{ form_data.obj.lab_number }}</b></td>
            <td colspan="2">打印时间({{ times }})</td>
            <td colspan="2">{{ form_data.created_at }}</td>
            <td colspan="2">发货方式</td>
            <td colspan="2">{{ form_data.obj.get_ship_direction_display }}</td>
        </tr>
        <tr>
            <td>设计</td>
            <td><b>{{ form_data.obj.pal_design_name }}</b></td>
            <td>镜架</td>
            <td>{{ form_data.obj.frame }}</td>
            <td>尺寸</td>
            <td>{{ form_data.obj.size }}</td>
            <td>直径</td>
            <td>{{ form_data.obj.dia_1 }}</td>
            <td>直径2</td>
            <td>{{ form_data.obj.dia_2 }}</td>
        </tr>
        <tr>

        </tr>

        </tbody>
    </table>
    <table class="tableTopBorder_3">
        <thead>
        <th>数量</th>
        <th>框型</th>
        <th>镜片类型</th>
        <th>R/L</th>
        <th>产品名称</th>
        <th>折射率</th>
        <th>设计</th>
        <th>工艺</th>
        <th>染色</th>
        </thead>
        <tbody>

        <tr>
            <td>{{ form_data.obj.quantity }}</td>
            <td>{{ item.frame_type }}</td>
            <td>{{ item.lens_type }}</td>
            <td>R&L</td>
            <td>{{ form_data.obj.act_lens_name }}</td>
            <td>{{ form_data.obj.lens_index }}</td>
            <td>{{ form_data.obj.pal_design_name }}</td>

            <td>
                HMC
                {% if form_data.obj.coating_name %}
                    {{ form_data.obj.coating_name }}
                {% endif %}
            </td>

            <td>

                {% if form_data.obj.tint_name %}
                    {{ form_data.obj.tint_name }}
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
    <table class="tableTopBorder_3">
        <tr>
            <th>#</th>
            <th>SPH</th>
            <th>CYL</th>
            <th>AXIS</th>
            <th>ADD</th>
            <th>PD</th>
            <th>PRISM-H</th>
            <th>BASE-H</th>
            <th>PRISM-V</th>
            <th>BASE-V</th>
        </tr>
        <tr>
            <td>OD</td>
            <td>{{ item.od_sph }}</td>
            <td>{{ item.od_cyl }}</td>
            <td>{{ item.od_axis }}</td>
            <td>{{ item.od_add }}</td>
            <td>
                {% ifequal item.is_singgle_pd 1 %}{{ item.pd }}{% endifequal %}
                {% ifequal item.is_singgle_pd 0 %}{{ item.od_pd }}{% endifequal %}
            </td>
            <td>{{ item.od_prism }}</td>
            <td>{{ item.od_base }}</td>
            <td>{{ item.od_prism1 }}</td>
            <td>{{ item.od_base1 }}</td>
        </tr>
        <tr>
            <td>OS</td>
            <td>{{ item.os_sph }}</td>
            <td>{{ item.os_cyl }}</td>
            <td>{{ item.os_axis }}</td>
            <td>{{ item.os_add }}</td>
            <td>
                {% ifequal item.is_singgle_pd 0 %}{{ item.os_pd }}{% endifequal %}
            </td>
            <td>{{ item.os_prism }}</td>
            <td>{{ item.os_base }}</td>
            <td>{{ item.os_prism1 }}</td>
            <td>{{ item.os_base1 }}</td>
        </tr>
    </table>

    <table class="tableTopBorder_3">
        <tbody>
        <tr>
            <th>框高</th>
            <td>{{ item.lens_height }}</td>
            <th>加工瞳高</th>
            <td>{{ item.lab_seg_height }}</td>
            <th>装配瞳高</th>
            <td>按标准瞳高{{ item.assemble_height }}</td>
            <th>子镜高度</th>
            <td>{{ item.sub_mirrors_height }}</td>
            <th>特殊处理</th>
            <td>{{ item.special_handling }}</td>
        </tr>
        </tbody>
    </table>
    <table class="tableTopBorder_3" style="table-layout:fixed">
        <tbody>
        <tr>
            <td><img src='{{ media_base_url }}{{ item.c128_path }}'/></td>
            <td>备注</td>
            <td colspan="4">{{ item.comments }}</td>
        </tr>
        </tbody>
    </table>
    <div class="pageBreak"><!--如果需要强制换页就在上一页的未尾出加上此代码--></div>
</div>

<button style="display:none" id="print_1">打印</button>
</body>
</html>