{% extends 'base.html' %}
{% load static %}
{% block h1 %}Lab Orders {% if form_data.total %}
    <span class="label label-default" xmlns="http://www.w3.org/1999/html">{{ form_data.total }}</span>
{% endif %} {% endblock %}
{% block small %}异常镜架查询{% endblock %}
{% block content %}
    <div style="float: left;">
    <div class="input-group input-group" style="width: 250px;">
    <input type="text" class="form-control" id="frame" placeholder="Please enter the sku" value="{{ frame }}"
           autofocus="autofocus" {% if form_data.search_entity %}value="{{ form_data.search_entity }}"{% endif %}>
    </div>
    </div>
    <div class="cl">
        <div style="float: left;margin-left:10px;margin-top: -7px">
            <table>
                <tr>
                    <td>
                        Right Eye SPH：
                    </td>
                    <td>
                        <input type="text" id="od_sph" value="{{ od_sph }}"  placeholder="od_sph">
                    </td>
                </tr>
            </table>
                <tr>
                    <td>
                        Left&nbsp;&nbsp;&nbsp;&nbsp;Eye SPH：
                    </td>
                    <td>
                        <input type="text" id="os_sph" value="{{ os_sph }}" placeholder="os_sph">
                    </td>
                </tr>
        </div>
    </div>

        <div class="cl">
        <div style="float: left;margin-left:10px;margin-top: -7px">
            <table>
                 <tr>
                    <td>
                        Right Eye CYL：
                    </td>
                    <td>
                        <input type="text" id="od_cyl" value="{{ od_cyl }}" placeholder="od_cyl">
                    </td>
                </tr>
                <tr>
                    <td>
                        Left&nbsp;&nbsp;&nbsp;&nbsp;Eye CYL：
                    </td>
                    <td>
                        <input type="text" id="os_cyl" value="{{ os_cyl }}" placeholder="os_cyl">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="cl">
     <div>
    <span class="input-group-btn" style="padding-left:30px">
                <button type="button" class="btn btn-default btn-flat" id="btnSearch">Search</button>
    </span>
     </div>
    </div>

    <!--Actions-->
    <div class="cl">
        <div style="float: left;margin-right: 3px;margin-left:10px;display: none;">
            <button id="btn_back" type="button" class="btn btn-default btn active" role="button"
                    onClick="javascript :history.back(-1);">返回
            </button>
        </div>
        <!-- /btn-group -->
    </div>

<br/>
    {% include 'laborder_list_v2_exceed.pspf.html' %}

    <!--Actions end-->

    <!--Table-->
    <div id="tableContent">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th><input id="chk_all" type="checkbox"></th>
                <th class="hid">#</th>
                <th>订单号</th>
                <th class="hid">镜架</th>
                <th>镜片</th>
                <!--<th>订单日期</th>-->
                <th class="hid">下达日期</th>
                <th>状态</th>
                <th>VD</th>
                <th>WS</th>
                <!--<th class="hid">Actions</th>-->
            </tr>
            </thead>
            <tbody>

            {% for item in list %}
                <tr>
                    <td><input name="chk_items" value="{{ item.Entity_id }}" type="checkbox"></td>
                    <td class="hid order_entity">{{ item.id }}</td>
                    <td><a name="lbo_details"
                           href="javascript:void(0)"
                           id="{{ item.lab_number }}"
                    >{{ item.lab_number }}</a></td>
                    <td class="hid">{{ item.frame }}</td>
                    <td class="{{ item.lab_number }}_act_td">{{ item.act_lens_name }}</td>
                    <!--<td>{{ item.order_date }}</td>-->
                    <td class="hid">{{ item.create_at }}</td>
                    <td data_num="{{ item.lab_number }}" class="status_td">{{ item.get_status_display }}</td>
                    <td class="vendor">{{ item.vendor }}</td>
                    <td class="workshop">{{ item.workshop }}</td>
                </tr>
                <tr class="lab_order_details" style="display:none">
                    <td colspan="21">
                        <div name="details">

                        </div>
                    </td>
                </tr>
                <tr style="display:none">
                    <td colspan="20">
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <!--Table end-->

    <!--paginator-->
    <div style="width: 100%;text-align: center;">
        {% include 'page_number.html' %}
    </div>
    <!--paginator end-->
    <div style="display:none;padding:20px 20px 0px;" id="reason">
        <textarea style="width:100%;height:100px;" maxlength="128"></textarea>
    </div>

    <div style="display:none;padding:20px 20px 0px;" id="confirm">
        <p style="padding:10px 0;">是否对订单&nbsp;<b class="lab_num"></b>&nbsp;进行&nbsp;<b class="operation"></b>&nbsp;操作？
        </p>
        <span style="padding-right:15px;">
            <input id="re_to_new" name="is_reset_to_new" type="checkbox" value="True" checked="checked"/>
            <label for="re_to_new" style="position:relative;top:-2px;left:6px;">重置为新订单</label>
        </span>
        <span>
            <input id="del_old" name="is_del_old" type="checkbox" value="True"/>
            <label for="del_old" style="position:relative;top:-2px;left:6px;">取消原订单</label>
        </span>
    </div>

{% endblock %}
{% block jquery %}
    <script>

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        // 点击 行上的 Vendor List，更新 Vendor；无确认需求
        $("a[name='lbo_details']").each(function () {
            $(this).bind("click", function () {

                var index = layer.load(2); //换了种风格
                var item_content = this;
                var id = $(this).attr('id');

                //if ($(this).parents("tr").next().css('display') != 'none') {
                //$(this).parents("tr").next().toggle(200);
                //return true;
                //}

                var _html = [];
                var url = "{% url 'laborder_detail_pspf' %}";
                $.ajax({
                    url: url,
                    type: 'post',
                    data: {
                        "lab_number": id,
                    },
                    success: function (arg) {
                        _html.push(arg);
                        $(item_content).parents("tr").next().find("td").find("div[name='details']").html(_html.join(''));
                        layer.close(index);
                    }
                });
                //$(this).parents("tr").next().find("td").html(_html);
                $(this).parents("tr").next().toggle(400);
            });
        });

        function show_details(entity) {
            var window = layer.load(2); //换了种风格
            var returnData;
            var url = "{% url 'laborder_detail_pspf' %}";
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    lab_number: entity
                },
                async: true
            }).done(function (response) {

                returnData = response;
                alert(response);
                layer.closeAll();
            });
        }

        // 搜索
        $("#number").bind("keypress", function (event) {
            if (event.keyCode == "13") {
                $("#btnSearch").click();
            }
        });

        $("#btnSearch").on("click", function () {
            frame = $("#frame").val();
            od_sph = $("#od_sph").val();
            os_sph = $("#os_sph").val();
            od_cyl = $("#od_cyl").val();
            os_cyl = $("#os_cyl").val();

            location.href = '/oms/abnormal_list/?frame=' + frame+'&od_sph='+ od_sph+'&os_sph='+os_sph+'&od_cyl='+od_cyl+'&os_cyl='+os_cyl

        });


        //全选/不选
        document.getElementById('chk_all').onclick = function () {
            // 获取所有的复选框
            var checkElements = document.getElementsByName('chk_items');
            if (this.checked) {
                for (var i = 0; i < checkElements.length; i++) {
                    var checkElement = checkElements[i];
                    checkElement.checked = "checked";
                }
            } else {
                for (var i = 0; i < checkElements.length; i++) {
                    var checkElement = checkElements[i];
                    checkElement.checked = null;
                }
            }
        };

        // 点击 头部 Actions Vendor List，更新 Vendor；无确认需求
        $("a[name='actions_vds']").each(function () {
            $(this).bind("click", function () {

                var index = $(this).attr('index');

                var entities = [];
                checkboxs = $("input[name='chk_items']:checked");
                if (checkboxs.length <= 0) {
                    alert("Please select a lab order");
                    return false;
                }

                checkboxs.each(function () {
                    order_entity = $(this).closest("tr").find(".order_entity").html();
                    entities.push(order_entity);
                    entity = JSON.stringify(order_entity);

                    var returnData = distribute_vendor(index, order_entity, $(this));
                });
            });
        });


        function distribute_vendor(index, entity, _self) {
            var window = layer.load(2); //换了种风格
            var returnData;
            $.ajax({
                url: "/oms/distribute_vendor/",
                type: 'POST',
                data: {
                    index: index,
                    entities: entity
                },
                async: true
            }).done(function (response) {
                returnData = response;
                if (returnData.code == '0')
                    _self.closest("tr").find(".vendor").html(index);
                layer.closeAll();
                layer.msg(returnData.message);
            });
        }

        $("#btn_sorted").on("click", function () {
            var url = document.location;

            var se = window.location.search;
            if (se == '') {
                location.href = url + '?sorted=set_time';
            } else {
                location.href = url + '&sorted=set_time';
            }
        });

        $("#btn_barcode_special").on("click", function () {
            var url = document.location;

            var entities = [];
            checkboxs = $("input[name='chk_items']:checked");
            if (checkboxs.length <= 0) {
                alert("Please select a lab order");
                return false;
            }

            checkboxs.each(function () {
                order_entity = $(this).closest("tr").find(".order_entity").html();
                entities.push(order_entity);
            });

            url = "{% url 'laborder_request_notes_generate_barcode_special' %}";

            location.href = url + '?entities=' + entities;
        });

        $(document).ready(function () {
            //alert("ok");
            //$('.btn_distribute_vendors').click();
        });

        // 去除字符串两端空格
        function Trim(str) {
            return str.replace(/(^\s*)|(\s*$)/g, "");
        }

        // 订单取消
        $(document).on("click", ".btn_cancel", function () {
            _self = $(this);
            var _html = [];
            var lab_num = _self.attr("lab_number");
            var action = _self.attr("canceled");
            var status_now = _self.attr("status_now");
            if (status_now == "R2HOLD") {
                layer.alert("请取消其它申请");
            } else {
                $("#reason textarea").val("");
                var index = layer.open({
                    type: 1,
                    shadeClose: true,
                    title: '取消订单原因',
                    content: $("#reason"),
                    btn: ['保存', '取消'],
                    area: '30%',
                    yes: function () {
                        var reason = $("#reason textarea").val();
                        if (!reason.match(/^\s*$/)) {
                            layer.close(index);
                            $.ajax({
                                url: "/oms/lab_order_cancelled_v2/",
                                type: "POST",
                                data: {
                                    'lab_num': lab_num,
                                    'reason': reason,
                                    'action': action
                                },
                                success: function (arg) {
                                    //if (arg == "Ture") {
                                    //    var lab_detail = _self.parents(".lab_order_details");
                                    //    lab_detail.prev().css("display", "none");
                                    //    lab_detail.next().css("display", "none");
                                    //    lab_detail.css("display", "none");
                                    //} else {
                                    //    layer.msg(arg);
                                    //}
                                    _html.push(arg);
                                    var cur_html = _self.parents().filter("div[name='details']").empty().prepend(_html);
                                    var status_str = cur_html.find("td[name='detail_status']").text();
                                    var _self_num = Trim(cur_html.find(".spn_lab_number").text());
                                    var status_td = $(".status_td");
                                    for (var i = 0; i < status_td.length; ++i) {
                                        var data_num = status_td.eq(i).attr("data_num");
                                        if (_self_num == data_num.toString()) {
                                            status_td.eq(i).html(status_str);
                                            break;
                                        }
                                    }
                                }
                            });
                        } else {
                            layer.alert("请输入原因");
                        }
                    }
                });
            }
        });

        // 订单暂停 / 取消暂停---0729 改为申请暂停
        $(document).on("click", ".btn_hold", function () {
            _self = $(this);
            var lab_num = _self.attr("lab_number");
            var _html = [];
            var status_now = _self.attr("status_now");
            if (status_now == "R2CANCEL") {
                layer.alert("请取消其它申请");
            } else {
                $("#reason textarea").val("");
                var index = layer.open({
                    type: 1,
                    shadeClose: true,
                    title: '填写原因',
                    content: $("#reason"),
                    btn: ['保存', '取消'],
                    area: '30%',
                    yes: function () {
                        var reason = $("#reason textarea").val();
                        if (!reason.match(/^\s*$/)) {
                            layer.close(index);
                            $.ajax({
                                url: "/oms/lab_order_hold_v2/",
                                type: "POST",
                                data: {
                                    'lab_num': lab_num,
                                    'reason': reason
                                },
                                success: function (arg) {
                                    _html.push(arg);
                                    var cur_html = _self.parents().filter("div[name='details']").empty().prepend(_html);
                                    var status_str = cur_html.find("td[name='detail_status']").text();
                                    var _self_num = Trim(cur_html.find(".spn_lab_number").text());
                                    var status_td = $(".status_td");
                                    for (var i = 0; i < status_td.length; ++i) {
                                        var data_num = status_td.eq(i).attr("data_num");
                                        if (_self_num == data_num.toString()) {
                                            status_td.eq(i).html(status_str);
                                            break;
                                        }
                                    }
                                }
                            });
                        } else {
                            layer.alert("请输入原因");
                        }
                    }
                });
            }
        });

        // 打印订单
        $(document).on("click", ".btn_print", function () {
            var lab_number = $(this).attr("data_lab_number");
            print_url = "/oms/print_laborder/?p=" + lab_number;
            window.open(print_url);
        });

        // 终检
        $(document).on("click", ".btn_final_inspection", function () {
            var _self = $(this);
            var lab_entity = _self.attr("data_lab_entity");

            $.ajax({
                url: "/oms/final_inspection/",
                type: "POST",
                data: {
                    "lab_entity": lab_entity
                },
                success: function (res) {
                    layer.msg(res.message);
                    if (res.code == "0") {
                        _self.attr("disabled", "disabled");
                        _self.parents().prev().find("td.status_td").text("终检");
                    }
                }
            });
        });

        // 重做
        $(document).on("click", ".btn_redo", function () {
            redo_transfer($(this));
        });
        // 转单
        $(document).on("click", ".btn_transfer", function () {
            redo_transfer($(this));
        });

        function redo_transfer(obj) {

            var labid = obj.attr("lab_number"); //获取lab_number
            var alias = obj.attr("action");//获取action key
            var content = obj.html();//获取action value
            var $this = obj;
            var confirm_box = $("#confirm");
            confirm_box.find(".lab_num").html(labid);
            confirm_box.find(".operation").html(content);

            btn_re_new = $("#re_to_new");
            btn_del_old = $("#del_old");
            btn_re_new.click(function () {
                if ($(this).prop("checked")) {
                    btn_del_old.prop("disabled", false);
                    btn_del_old.attr("checked", false);
                } else {
                    btn_del_old.attr("checked", true);
                    btn_del_old.prop("disabled", true);
                }
            });

            var index = layer.open({
                type: 1,
                shadeClose: true,
                title: content, //不显示标题
                content: confirm_box,
                btn: ['确定', '取消'],
                area: '27%',
                cancel: function () {
                    layer.msg('直接关闭 什么也不会处理', {time: 5000});
                },
                yes: function () {
                    var re_to_new_v = "False";
                    var del_old_v = "False";
                    if (btn_re_new.is(":checked")) {
                        re_to_new_v = btn_re_new.val();
                    }
                    if (btn_del_old.is(":checked")) {
                        del_old_v = btn_del_old.val();
                    }
                    self.location.href = "/oms/labOrderRedo?labid=" + labid + "&alias=" + alias + "&content=" + content + "&type=1" + "&new=" + re_to_new_v + "&del_old=" + del_old_v;
                }
            });
        }

        // edit lens
        $(document).on("click.edit_lens_btn", ".edit_lens_btn", function () {
            var _self = $(this);
            var val = '';

            var idx = layer.open({
                title: '编辑信息',
                content: '<input style="width:100%" type="text" name="lens_info">',
                area: '25%',
                success: function (elem) {
                    elem.find('input').eq(0).val(_self.attr('data-clipboard-text'));
                },
                yes: function (i, e) {
                    layer.close(idx);
                    val = e.find('input').eq(0).val()
                    $.ajax({
                        url: '{% url "ajax_edit_act_lens" %}',
                        type: 'POST',
                        data: {
                            'cur_lab': _self.attr('data-labnum'),
                            'field': _self.attr('data-field'),
                            'value': val
                        },
                        success: function (res) {
                            if (res.code == '0') {
                                _self.prev().text(val);
                                _self.attr('data-clipboard-text', val);
                                layer.msg('更改成功', {icon: 1});
                                if ('act_lens_name' == _self.attr('data-field')) {
                                    var sect = '.' + _self.attr('data-labnum') + '_act_td';
                                    $(sect).text(val);
                                }
                            } else {
                                layer.msg(res.message);
                            }
                        }
                    });
                }
            });
        });
        //全选/不选&显示选择所有订单按钮
        document.getElementById('chk_all').onclick = function () {
            // 获取所有的复选框
            var checkElements = document.getElementsByName('chk_items');

            if (this.checked) {
                for (var i = 0; i < checkElements.length; i++) {
                    var checkElement = checkElements[i];
                    checkElement.checked = "checked";
                }
                //counts未分页的list数量
                var count = "{{form_data.total}}"
                if (count < 1001) {
                    $("#is_chk_full").css("display", "block");
                }

            } else {
                for (var i = 0; i < checkElements.length; i++) {
                    var checkElement = checkElements[i];
                    checkElement.checked = null;
                    $("#is_chk_full").css("display", "none");
                }

                $("#select_all_data").prop("checked", false);

            }
        };
        // 导出到Excel
        $("#btn_export_excel").on("click", function () {
            var url = document.location;
            var entities = [];
            //var url_v = window.location.search;
            checkboxs = $("input[name='chk_items']:checked");
            if (checkboxs.length <= 0) {
                alert("Please select a lab order");
                return false;
            }
            checkboxs.each(function () {
                order_entity = $(this).closest("tr").find(".order_entity").html()
                entities.push(order_entity);

            });
            url = "{% url 'export_excel' %}";//跳转根目录
            //全选判断
            if ($("#select_all_data").prop("checked")) {
                url += '?filter={{ filter }}&status={{ status }}&vendor={{ vendor }}&ltype={{ ltype }}&sorted={{ form_data.sorted }}&start_date={{ start_date }}&end_date={{ end_date }}';//添加筛选条件
            } else {
                url += '?entities=' + entities;//添加编号
            }

            location.href = url;
        });
        //时间间隔筛选
        $("#btn_choose_date").on("click", function () {
            var startdate = $("#start_date").val();
            var enddate = $("#end_date").val();
            var MyDate = new Date();//获取系统当前时间
            var mydate_str = MyDate.toLocaleDateString();
            var mydate_str_re = mydate_str.replace(/\//g, "-");//转换成统一格式
            if (startdate > enddate) {
                layer.msg('日期选择错误', {time: 3000, icon: 7});
            }
            if (daysBetween(startdate, enddate) > 31) {
                layer.msg('最大时间间隔为一个月', {time: 3000, icon: 7});
            }
            if (daysBetween(startdate, mydate_str_re) > 93) {
                layer.msg('最多查询三个月前数据', {time: 3000, icon: 7});
            }
            location.href = '/oms/redirect_laborder_list_v2/?start_date=' + startdate + '&end_date=' + enddate + '&filter={{ filter }}&status={{ status }}&vendor={{ vendor }}&ltype={{ ltype }}&sorted={{ form_data.sorted }}'

            function daysBetween(DateOne, DateTwo) {
                var OneMonth = DateOne.substring(5, DateOne.lastIndexOf('-'));
                var OneDay = DateOne.substring(DateOne.length, DateOne.lastIndexOf('-') + 1);
                var OneYear = DateOne.substring(0, DateOne.indexOf('-'));

                var TwoMonth = DateTwo.substring(5, DateTwo.lastIndexOf('-'));
                var TwoDay = DateTwo.substring(DateTwo.length, DateTwo.lastIndexOf('-') + 1);
                var TwoYear = DateTwo.substring(0, DateTwo.indexOf('-'));

                var cha = ((Date.parse(OneMonth + '/' + OneDay + '/' + OneYear) - Date.parse(TwoMonth + '/' + TwoDay + '/' + TwoYear)) / 86400000);
                return Math.abs(cha);
            }
        });
    </script>
{% endblock %}