{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>镜片出库申请汇总表</title>
    <link rel="stylesheet" href="{% static "css/print_template.css" %}">
    <script src={% static "js/jquery-2.2.3.min.js" %}></script>
</head>
<script>
    $(document).ready(function () {
        window.print();
    })
</script>
<body>
<div id="print-content">
        <div class="header clear">
            <div class="titleArea">
                <h1>镜片出库申请汇总表 </h1>
            </div>
        </div>
        <p> </p>
        <table class="tableTopBorder_3">
            <thead>
            <tr class="height30">
                <th>#</th>
                <th>SKU</th>
                <th>名称</th>
                <th>SPH</th>
                <th>CYL</th>
                <th>数量</th>
            </tr>
            </thead>
            <tbody>
            {% for itme in list %}
                <tr class="height30">
                    <td>{{ forloop.counter}}</td>
                    <td>{{ itme.sku }}</td>
                    <td>{{ itme.name }}</td>
                    <td>{{ itme.sph }}</td>
                    <td>{{ itme.cyl}}</td>
                    <td>{{ itme.quantity }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pageBreak"><!--如果需要强制换页就在上一页的未尾出加上此代码--></div>
</div>

<button style="display:none" id="print_1">打印</button>
</body>
</html>