<div class="col-md-12 self_pspf" id="item_{{ item.item_id.value }}">

    <!-- /.box-body -->
    <!-- /.box-footer -->

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <div class="form-group">
                    <div class="col-sm-12 order-images-each">
                        <img src="{{ prd_img_pre }}{{ item.thumbnail.value }}"
                             class="img-responsive center-block"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.frame.label }}</b></div>
                    <div class="col-sm-8">
                        {{ item.frame.value }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.name.label }}</b></div>
                    <div class="col-sm-8">
                        {{ item.name.value }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.quantity.label }}</b></div>
                    <div class="col-sm-8">
                        <span class="label label-default">{{ item.quantity.value }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.size.label }}</b></div>
                    <div class="col-sm-8">
                        {{ item.size.value }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.lens_width.label }}</b></div>
                    <div class="col-sm-8">
                        {{ item.lens_width.value }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.lens_height.label }}</b></div>
                    <div class="col-sm-8">{{ item.lens_height.value }}</div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>ED</b></div>
                    <div class="col-sm-8 item_ed">please waiting...</div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>Lab Seg Height</b></div>
                    <div class="col-sm-8 pspf_process">{{ instance.lab_seg_height }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><b>Assemble Height</b></div>
                    <div class="col-sm-8 pspf_process">{{ instance.assemble_height }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><b>Submirrors Height</b></div>
                    <div class="col-sm-8 pspf_process">{{ instance.sub_mirrors_height }}</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><b>Special Handling</b></div>
                    <div class="col-sm-8 pspf_process">{{ instance.special_handling }}</div>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.lens_sku.label }}</b></div>
                    <div class="col-sm-8">
                        {{ item.lens_sku.value }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.lens_name.label }}</b></div>
                    <div class="col-sm-8
                    {% if 'Lined Bifocal' in item.lens_name.value  %}
                        text-danger
                    {% endif %}
                       ">
                        {{ item.lens_name.value }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.coating_sku.label }}</b></div>
                    <div class="col-sm-8">
                        <span class="label label-default"> {{ item.coating_sku.value }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.coating_name.label }}</b></div>
                    <div class="col-sm-8">
                        {{ item.coating_name.value }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.tint_sku.label }}</b></div>
                    <div class="col-sm-8">
                        <span class="label label-default">{{ item.tint_sku.value }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.tint_name.label }}</b></div>
                    <div class="col-sm-8">
                        {{ item.tint_name.value }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.pal_design_sku.label }}</b></div>
                    <div class="col-sm-8">
                        {{ item.pal_design_sku.value }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.pal_design_name.label }}</b></div>
                    <div class="col-sm-8">
                        {{ item.pal_design_name.value }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.pupils_position.label }}</b></div>
                    <div class="col-sm-8">
                        {{ item.pupils_position.value }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.pupils_position_name.label }}</b></div>
                    <div class="col-sm-8">
                        {{ item.pupils_position_name.value }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"><b>{{ item.channel.label }}</b></div>
                    <div class="col-sm-8 m_channel">
                        {{ item.channel.value }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <table class="table table-hover">
                <tr>
                    <th>Profile ID</th>
                    <th>Profile Name</th>
                    {% if item.product_options.value %}
                        <th>Is NonRx</th>
                    {% endif %}
                    <th>Prescription ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Used For</th>
                </tr>
                <tr>
                    <td>{{ item.profile_id.value }}</td>
                    <td>{{ item.profile_name.value }}</td>
                    {% if item.product_options.value %}
                        <td>{{ item.is_nonPrescription.value }}</td>
                    {% endif %}
                    <td><a class="prescription_id" href="javascript:void(0)" data-psid="{{ item.item_id.value }}" title="Original Prescription">{{ item.prescription_id.value }}</a></td>
                    <td>{{ item.prescription_name.value }}</td>
                    <td>{{ item.prescription_type.value }}</td>
                    <td><span class="label label-default">{{ item.used_for.value }}</span></td>
                </tr>
            </table>

            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>SPH</th>
                    <th>CYL</th>
                    <th>AXIS</th>
                    <th>ADD</th>
                    <th>PD</th>
                </tr>
                <tr>
                    <td>OD</td>
                    <td>{{ item.od_sph.value }}</td>
                    <td>{{ item.od_cyl.value }}</td>
                    <td>{{ item.od_axis.value }}</td>
                    <td>{{ item.od_add.value }}</td>
                    <td>
                        {% ifequal item.is_singgle_pd.value 1 %}{{ item.pd.value }}{% endifequal %}
                        {% ifequal item.is_singgle_pd.value 0 %}{{ item.od_pd.value }}{% endifequal %}
                    </td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>{{ item.os_sph.value }}</td>
                    <td>{{ item.os_cyl.value }}</td>
                    <td>{{ item.os_axis.value }}</td>
                    <td>{{ item.os_add.value }}</td>
                    <td>
                        {% ifequal item.is_singgle_pd.value 0 %}{{ item.os_pd.value }}{% endifequal %}
                    </td>
                </tr>
            </table>

            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Prism-H</th>
                    <th>Base-H</th>
                    <th>Prism-V</th>
                    <th>Base-V</th>
                </tr>
                <tr>
                    <td>OD</td>
                    <td>{{ item.od_prism.value }}</td>
                    <td>{{ item.od_base.value }}</td>
                    <td>{{ item.od_prism1.value }}</td>
                    <td>{{ item.od_base1.value }}</td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>{{ item.os_prism.value }}</td>
                    <td>{{ item.os_base.value }}</td>
                    <td>{{ item.os_prism1.value }}</td>
                    <td>{{ item.os_base1.value }}</td>
                </tr>
            </table>

            <table class="table table-hover">
                <tr>
                    <th>Dia_1</th>
                    <th>Dia_2</th>
                    <th>MONO PD OFF CTR MM</th>
                </tr>
                <tr>
                    <td>{{ instance.get_dia_1 }}</td>
                    <td>{{ instance.get_dia_2 }}</td>
                    <td>{{ instance.get_mono_pd_off_ctr_mm }}</td>
                </tr>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for order_image_url in order_image_urls %}
                <div class="col-sm-2 order-images-each">
                    <img src="{{ order_image_url.image_url }}" title="{{ order_image_url.image_type_name }}"
                         alt="{{ order_image_url.image_type_name }}" class="img-responsive center-block"/>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <b>{{ item.instruction.label }}</b>
                <label>
                    <span class="label label-default"> {{ item.instruction.value }}</span>
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <b>{{ item.comments.label }}</b><br>
                <span class="label label-default" id="item_{{ item.item_id.value }}_cmt"> {{ item.comments.value }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <tr>
                    <th>Lab Number</th>
                    <th>Status</th>
                    <th>Origin Status</th>
                    <th>Estimated Date</th>
                    <th>Create Date</th>
                    <th>Update Date</th>
                    <th>ACT Shipmethod</th>
                    <th>User</th>
                    <th>Shipping</th>
                    <th>Comments Inner</th>
                    <th>Comments</th>
                </tr>
                {% for lbo in lab_orders %}
                    <tr>
                        <td><a href="{% url 'laborder_list_v2' %}?order_number={{ lbo.lab_number }}" target="_blank">{{ lbo.lab_number }}</a></td>
                        <td>{% ifequal "" lbo.status %}NEW_ORDER{% else %}{{ lbo.status }}{% endifequal %}</td>
                        <td>{{ lbo.current_status }}</td>
                        <td>{{ lbo.estimated_date }}</td>
                        <td>{{ lbo.create_at }}</td>
                        <td>{{ lbo.update_at }}</td>
                        <td>{{ lbo.act_ship_direction }}</td>
                        <td>{{ lbo.user_name }}</td>
                        <td class="p_chg_{{ lbo.id }}">{{ lbo.comments_ship }}</td>
                        <td>{{ lbo.comments_inner }}</td>
                        <td class="chg_{{ lbo.id }}">{{ lbo.comments }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <!-- /.box-footer -->
</div>