<div class="col-xs-12">
    <script type="text/html" id="toolbarDemo">
        {% if flag == 'list' %}
            <button type="button" class="btn btn-primary" lay-event="accs_assign">订单分配</button>
            <button type="button" class="btn btn-primary" lay-event="accs_hold">订单暂停</button>
            <button type="button" class="btn btn-primary accs_print" lay-event="accs_print">订单PR打印</button>
            <button type="button" class="btn btn-primary accs_pick" lay-event="accs_pick">订单出库</button>
            <!--<button type="button" class="btn btn-primary" lay-event="accs_qc">Accs QC</button>-->
            <button type="button" class="btn btn-primary" lay-event="accs_pass">订单质检</button>
            <button type="button" class="btn btn-primary" lay-event="accs_repick">订单再出库</button>
            <button type="button" class="btn btn-primary" lay-event="accs_pack">订单包装</button>
            <button type="button" class="btn btn-primary accs_ship" lay-event="accs_ship">订单发货</button>
            <button type="button" class="btn btn-primary accs_reship" lay-event="accs_reship">订单再发货</button>
            <button type="button" class="btn btn-primary accs_resume" lay-event="accs_resume">订单恢复</button>
            <button type="button" class="btn btn-primary" lay-event="accs_cancel">订单取消</button>
            <button type="button" class="btn btn-primary" lay-event="accs_close">订单关闭</button>
            <button type="button" class="btn btn-primary" lay-event="accs_to_lab">转LabOrder</button>
        {% elif flag == 'assign' %}
            <button type="button" class="btn btn-primary" lay-event="accs_assign">订单分配</button>
        {% elif flag == 'print' %}
            <button type="button" class="btn btn-primary accs_print" lay-event="accs_print">订单PR打印</button>
        {% elif flag == 'pick' %}
            <button type="button" class="btn btn-primary accs_pick" lay-event="accs_pick">订单出库</button>
        {% elif flag == 'qc' %}
            <button type="button" class="btn btn-primary" lay-event="accs_pass">订单质检</button>
            <button type="button" class="btn btn-primary" lay-event="accs_repick">订单再出库</button>
            <button type="button" class="btn btn-primary" lay-event="accs_hold">订单暂停</button>
        {% elif flag == 'pack' %}
            <button type="button" class="btn btn-primary" lay-event="accs_pack">订单包装</button>
            <button type="button" class="btn btn-primary" lay-event="accs_hold">订单暂停</button>
        {% elif flag == 'ship' %}
            <button type="button" class="btn btn-primary accs_ship" lay-event="accs_ship">订单发货</button>
            <button type="button" class="btn btn-primary" lay-event="accs_hold">订单暂停</button>
        {% elif flag == 'cancel' %}
            <button type="button" class="btn btn-primary" lay-event="accs_cancel">订单取消</button>
        {% elif flag == 'close' %}
            <button type="button" class="btn btn-primary" lay-event="accs_close">订单关闭</button>
        {% endif %}
    </script>
</div>
