{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
    {#.pur_plan{display: none;}#}
    .order_label{float: left;line-height: 40px;}
    .form-group .el-input{float: left;width: 200px;height: 40px;}
    .el-textarea{width: 800px;}
    .submit_plan{float: right;margin-top: 20px;}
    {#.el-table .warning-row {#}
    {#    background: #f8e3b2;#}
    {#}#}
    </style>
{% endblock %}
{% block h1 %}Purchase{% if form_data.total %}<span class="label label-default"></span>
{% endif %} {% endblock %}
{% block small %}采购收货{% endblock %}
{% block content %}
<div id="app" v-cloak>
    <div class="row pur_plan">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">入库信息</h3>
                </div>
                <div class="box-header">
                    <el-row>
                         <el-col :span="8">
                          <div class="form-group">
                            <label for="receipt_number" class="order_label">入库单号:</label>
                            <el-input v-model="receipt_number" placeholder="请输入内容" v-bind:disabled="true"></el-input>
                          </div>
                        </el-col>
                    </el-row>
                </div>
                <div class="box-header">
                    <h3 class="box-title">采购订单</h3>
                </div>
                <div class="box-header">
                    <el-row>
                        <el-col :span="8">
                          <div class="form-group">
                            <label for="plan_number" class="order_label">采购单号:</label>
                            <el-input v-model="plan_number" placeholder="请输入内容" v-bind:disabled="true"></el-input>
                          </div>
                        </el-col>
                        <el-col :span="8">
                          <div class="form-group">
                                <label for="create_at" class="order_label">创建时间:</label>
                                <el-input v-model="create_at" v-bind:disabled="true"></el-input>
                          </div>
                        </el-col>
                        <el-col :span="8">
                            <div class="form-group">
                                <label for="vendor" class="order_label">供应商:</label>
                                <el-input v-model="vendor" v-bind:disabled="true"></el-input>
                            </div>
                        </el-col>
                        <el-col :span="4">
                          <div class="form-group">
                            <label for="status" class="order_label">状态:</label>
                            <el-input v-model="status" v-bind:disabled="true" style="width: 120px;"></el-input>
                          </div>
                        </el-col>
                        <el-col :span="4">
                          <div class="form-group">
                            <label for="total_quantity" class="order_label">总数量:</label>
                            <el-input v-model="total_quantity" v-bind:disabled="true" style="width: 80px;"></el-input>
                          </div>
                        </el-col>
                        <el-col :span="4">
                          <div class="form-group">
                            <label for="opening_quantity" class="order_label">未清数量:</label>
                            <el-input v-model="opening_quantity" v-bind:disabled="true" style="width: 80px;"></el-input>
                          </div>
                        </el-col>
                        <el-col :span="4">
                          <div class="form-group">
                            <label for="grand_total" class="order_label">总金额(元):</label>
                            <el-input v-model="grand_total" v-bind:disabled="true" style="width: 80px;"></el-input>
                          </div>
                        </el-col>
                        <el-col :span="4">
                          <div class="form-group">
                            <label for="actual_quantity" class="order_label">实收数量:</label>
                            <el-input v-model="actual_quantity" style="width: 80px;"></el-input>
                          </div>
                        </el-col>
                        <el-col :span="4">
                          <div class="form-group">
                            <label for="total_paid" class="order_label">实付金额(元):</label>
                            <el-input v-model="total_paid" style="width: 80px;"></el-input>
                          </div>
                        </el-col>
                        <el-col :span="4">
                          <div class="form-group">
                            <label for="plan_discount_amount_order" class="order_label">优惠金额(元):</label>
                            <el-input v-model="plan_discount_amount_order" style="width: 80px;"></el-input>
                          </div>
                        </el-col>
                        <el-col :span="8">
                          <div class="form-group">
                              <label for="pland_arrival_date" class="order_label">计划到货日期:</label>
                              <el-input v-model="pland_arrival_date" v-bind:disabled="true"></el-input>
                          </div>
                        </el-col>
                        <el-col :span="8">
                          <div class="form-group">
                            <label for="pay_date" class="order_label">付款日期:</label>
                            <el-date-picker
                              v-model="pay_date"
                              type="datetime"
                              placeholder="选择日期时间">
                            </el-date-picker>
                          </div>
                        </el-col>
                        <el-col :span="8">
                          <div class="form-group">
                                <label for="plan_vendor_doc_number" class="order_label">供应商原单号:</label>
                                <el-input v-model="plan_vendor_doc_number" placeholder="请输入内容"></el-input>
                          </div>
                        </el-col>
                        <el-col :span="8">
                          <div class="form-group">
                                <label for="plan_breach" class="order_label">批次:</label>
                                <el-input v-model="plan_breach" placeholder="请输入内容"></el-input>
                          </div>
                        </el-col>
                        <el-col>
                          <div class="form-group">
                            <label for="comments" class="order_label">说&nbsp;&nbsp;&nbsp;&nbsp;明:</label>
                            <el-input
                              type="textarea"
                              :rows="2"
                              placeholder="请输入内容"
                              v-model="comments">
                            </el-input>
                          </div>
                        </el-col>
                    </el-row>
                    <el-row>
                        <div style="float:left;color: #3a8ee6;font-size: 18px;font-weight: bold;"><span>总数量:</span><span>{% verbatim %}{{ total_quantity }}{% endverbatim %}</span></div><div style="float:left;color: #3a8ee6;font-size: 18px;font-weight: bold;width: 200px;margin-left: 20px;"><span>总金额/(元):</span><span style="margin-left: 5px;">{% verbatim %}{{ grand_total }}{% endverbatim %}</span></div>
                    </el-row>
                    <el-collapse v-model="activeName" accordion>
                      <el-collapse-item title="订单信息" name="1">
                        <template>
                          <el-table
                            :data="plansData"
                            style="width: 100%">
                                <el-table-column
                                  prop="plan_number"
                                  label="采购单号"
                                  width="200">
                                </el-table-column>
                                <el-table-column
                                  prop="sku"
                                  label="SKU"
                                  width="80">
                                </el-table-column>
                                <el-table-column
                                  prop="quantity"
                                  label="数量"
                                  width="120">
                                </el-table-column>
                                <el-table-column
                                  prop="price"
                                  label="单价/(元)"
                                  width="120">
                                </el-table-column>
                                <el-table-column
                                  prop="subtotal"
                                  label="小计/(元)"
                                  width="80">
                                </el-table-column>
                                <el-table-column
                                  prop="item_actual_quantity"
                                  label="入库数量"
                                  width="80">
                                    <template slot-scope="scope">
                                        <input class="edit-cell" v-model="scope.row.item_actual_quantity" style="width: 50px;">
                                    </template>
                                </el-table-column>
                          </el-table>
                        </template>
                      </el-collapse-item>
                    </el-collapse>
                    <el-row>
                        <el-button type="primary" class='submit_plan' @click="complete_order()">订单完成</el-button>
                    </el-row>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div style="float: left;">
                        <div class="input-group input-group" style="width: 200px;">
                            <input type="text" class="form-control" id="number" placeholder="Please enter the order number"
                                   autofocus="autofocus" @keyup.enter="btnSearch">
                            <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-flat" @click="btnSearch">Search</button>
                            </span>
                        </div>
                    </div>
                    <!--<div style="float: right;">
                        <el-button type="primary" @click="create_plan">采购收货</el-button>
                    </div>-->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!--<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>-->
                <!-- /.box-header -->
                <div class="box-body">
                    <el-table
                        :data="tableData"
                        style="width: 100%">
                        <el-table-column type="expand">
                            <template scope="props">
                                <el-table :data="props.row.activities"
                                    style="width: 100%">
                                    <el-table-column
                                        v-if="show"
                                        label="ID"
                                        prop="item_id"
                                        width="80">
                                    </el-table-column>
                                    <el-table-column
                                        v-if="show"
                                        label="采购单号"
                                        prop="plan_number"
                                        width="200">
                                    </el-table-column>
                                    <el-table-column
                                        label="SKU"
                                        prop="sku"
                                        width="80">
                                    </el-table-column>
                                    <el-table-column
                                        label="数量"
                                        prop="quantity"
                                        width="80">
                                        <template slot-scope="scope">
                                            <input class="edit-cell" v-if="scope.row.request_edit_flag" v-model="scope.row.quantity" style="width: 50px;">
                                            <span v-if="!scope.row.request_edit_flag">
                                                {% verbatim %}
                                                    {{scope.row.quantity}}
                                                {% endverbatim %}
                                            </span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                        label="单价"
                                        prop="price"
                                        width="80">
                                       <template slot-scope="scope">
                                            <input class="edit-cell" v-if="scope.row.request_edit_flag" v-model="scope.row.price" style="width: 50px;">
                                            <span v-if="!scope.row.request_edit_flag">
                                                {% verbatim %}
                                                    {{scope.row.price}}
                                                {% endverbatim %}
                                            </span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                        label="小计"
                                        prop="subtotal"
                                        width="80">
                                    </el-table-column>
                                    <el-table-column
                                        label="状态"
                                        prop="item_status"
                                        width="100">
                                    </el-table-column>
                                    <el-table-column label="操作">
                                      <template slot-scope="scope">
                                        <el-button
                                          size="mini"
                                          type="danger"
                                          @click="handleAddItem(scope.$index, scope.row)">添加</el-button>
                                      </template>
                                    </el-table-column>
                                </el-table>
                            </template>
                        </el-table-column>
                        <el-table-column
                            label="采购单号"
                            prop="plan_number"
                            width="200">
                        </el-table-column>
                        <el-table-column
                            prop="plan_status"
                            label="状态"
                            width="80">
                        </el-table-column>
                        <el-table-column
                            prop="plan_vendor_num"
                            label="供应商"
                            width="80">
                        </el-table-column>
                        <el-table-column
                            prop="plan_total_quantity"
                            label="总数量"
                            width="80">
                        </el-table-column>
                        <el-table-column
                            prop="plan_actual_quantity"
                            label="实收数量"
                            width="80">
                        </el-table-column>
                        <el-table-column
                            prop="plan_opening_quantity"
                            label="未清数量"
                            width="80">
                        </el-table-column>
                        <el-table-column
                            prop="plan_grand_total"
                            label="总金额"
                            width="80">
                        </el-table-column>
                        <el-table-column
                            prop="plan_total_paid"
                            label="实付金额"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            prop="plan_amount_order"
                            label="优惠金额"
                            width="80">
                        </el-table-column>
                        <el-table-column
                            prop="plan_create_at"
                            label="创建时间"
                            width="120">
                        </el-table-column>
                        <el-table-column
                            prop="plan_comments"
                            label="说明"
                            >
                        </el-table-column>
                         <el-table-column label="操作">
                          <template slot-scope="scope">
                            <el-button
                              v-if="scope.row.status_flag"
                              class="btn-c"
                              size="mini"
                              type="danger"
                              @click="handleAdd(scope.$index, scope.row)"
                              >添加</el-button>
                          </template>
                        </el-table-column>
                    </el-table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    </div>
    <div style="width: 100%;text-align: center;">
        {% include 'page_number.html' %}
    </div>
{% endblock %}
{% block jquery %}
    <script src={% static "js/vue.js" %}></script>
    <script src={% static "js/element.js" %}></script>
    <!--<script src={% static "js/axios.min.js" %}></script>-->
    <script src={% static "js/qs.min.js" %}></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        var vm = new Vue({
            el: '#app',
            data: {
                show:false,
                receipt_number:'',
                plan_number:'',
                create_at:'',
                vendor: '',
                status: '',
                total_quantity:0,
                opening_quantity:0,
                grand_total:0,
                actual_quantity:0,
                plan_discount_amount_order:0,
                pland_arrival_date:'',
                pay_date:'',
                plan_vendor_doc_number:'',
                plan_breach:'',
                comments:'',
                total_paid:0,
                activeName: '1',
                tableData: [],
                plansData:[],
                setData:[],
                edit_qty:0,
                edit_price:0,
                created_plans_flag:false,
            },
            beforeMount(){
            },
            created(){
                this.tableData = [
                    {% for item in data_list %}
                        {
                            plan_number: "{{ item.plan_number  }}",
                            plan_vendor_num: "{{ item.plan_vendor_num  }}",
                            plan_create_at:"{{ item.plan_create_at  }}",
                            plan_status: "{{ item.plan_status  }}",
                            plan_comments:"{{ item.plan_comments  }}",
                            plan_vendor_doc_number:"{{ item.plan_vendor_doc_number }}",
                            plan_arrival_date:"{{ item.plan_arrival_date }}",
                            plan_grand_total: "{{ item.plan_grand_total }}",
                            plan_total_paid: "{{ item.plan_total_paid }}",
                            plan_discount_amount_order: "{{ item.plan_discount_amount_order }}",
                            plan_total_quantity: "{{ item.plan_total_quantity }}",
                            plan_actual_quantity: "{{ item.plan_total_quantity }}",
                            plan_opening_quantity: "{{ item.plan_total_quantity }}",
                            plan_pay_date: "{{ item.plan_pay_date }}",
                            status_flag: {% if item.plan_status == 'DRAFT' or item.plan_status == 'REJECT' %}false {% else %} true {% endif %},
                            activities:[
                                {% for item_ac in item.plan_items %}
                                    {
                                        plan_number: "{{ item_ac.plan_number  }}",
                                        sku: "{{ item_ac.sku  }}",
                                        price: "{{ item_ac.price }}",
                                        quantity: "{{ item_ac.quantity  }}",
                                        subtotal: "{{ item_ac.subtotal  }}",
                                        item_status: "{{ item_ac.item_status  }}",
                                        item_id: "{{ item_ac.item_id  }}",
                                        request_edit_flag:eval("{{ item_ac.request_edit_flag }}"),
                                        item_actual_quantity: 0,
                                    },
                                 {% endfor %}
                            ],
                        },
                    {% endfor %}
                ];
                this.create_plan();
            },
            methods: {
                create_plan() {
                    var now = new Date();
       	            var year=now.getFullYear();
                    var month=now.getMonth();
                    var day=now.getDate();
                    var hour=now.getHours();
                    var minute=now.getMinutes();
                    var second=now.getSeconds();
                    var timestamp = String(now.getTime());
                    str_timestamp = timestamp.substring(timestamp.length-4);
                    if (month<9){
                        str_month = '0'+ (month+1)
                    }else{
                        str_month = month+1
                    }
                    this.receipt_number = 'CGSH'+year + str_month + day + hour + minute + second + str_timestamp;
                    this.created_plans_flag = true
                    $(".pur_plan").show();
                },
                btnSearch() {
                    order_number = $("#number").val();
                    url = "{% url 'purchase_receipt_order_new' %}";
                    if (order_number == '' || order_number == null) {
                        layer.msg('请输入单号或SKU!', {time: 3000, icon: 7});
                    }
                    else {
                        location.href = url + '?filter=' + order_number;
                    }
                },
                handleAdd(index, row) {
                    if(!this.created_plans_flag){
                        alert("请先创建采购订单入库！");
                        return false
                    }
                    var that = this
                    url = "{% url 'purchase_add_order' %}";
                    form_data = {doc_number: row.plan_number, flag: 'all'}
                     $.ajax({
                         type: "GET",
                         url: url,
                         data: form_data,
                         dataType: "json",
                         success: function(ret){
                             if(ret.code == 0){
                                 that.plan_number = ret.data[0].plan_number;
                                 that.create_at = ret.data[0].plan_created_at;
                                 that.vendor = ret.data[0].plan_vendor_num;
                                 that.status = ret.data[0].plan_status;
                                 that.total_quantity = parseInt(ret.data[0].plan_total_quantity);
                                 that.opening_quantity = parseInt(ret.data[0].plan_opening_quantity);
                                 that.grand_total = parseFloat(ret.data[0].plan_grand_total);
                                 that.actual_quantity = parseInt(ret.data[0].plan_actual_quantity);
                                 that.plan_discount_amount_order = parseFloat(ret.data[0].plan_discount_amount_order);
                                 if(ret.data[0].plan_arrival_date == 'null'){
                                    plan_arrival_date_order = ''
                                 }else{
                                     plan_arrival_date_order = ret.data[0].plan_arrival_date
                                 }
                                 if(ret.data[0].plan_pay_date == 'null'){
                                     plan_pay_date_order = ''
                                 }else{
                                     plan_pay_date_order = ret.data[0].plan_pay_date
                                 }
                                 that.pland_arrival_date = plan_arrival_date_order;
                                 that.pay_date = plan_pay_date_order;
                                 that.plan_vendor_doc_number = ret.data[0].plan_vendor_doc_number;
                                 that.comments = ret.data[0].plan_comments;
                                 that.plansData = ret.data[0].plan_items;
                             }else{
                                 alert(ret.message)
                             }
                         }

                     });
                    row.disflag = true
                },
                handleAddItem(index, row) {
                    var list_length = 0;
                    if(!this.created_plans_flag){
                        alert("请先创建采购计划！");
                        return false
                    }
                    key = row.plan_number +":"+ row.sku
                    if(this.setData.indexOf(key) > -1){
                        alert("该采购计划中存在该采购条目:"+key+"！");
                        return false
                    }
                    var that = this
                    url = "{% url 'purchase_add_order' %}";
                    form_data = {doc_number: row.plan_number, flag: 'all'}
                     $.ajax({
                         type: "GET",
                         url: url,
                         data: form_data,
                         dataType: "json",
                         success: function(ret){
                             if(ret.code == 0){
                                 that.plan_number = ret.data[0].plan_number;
                                 that.create_at = ret.data[0].plan_created_at;
                                 that.vendor = ret.data[0].plan_vendor_num;
                                 that.status = ret.data[0].plan_status;
                                 that.total_quantity = parseInt(ret.data[0].plan_total_quantity);
                                 that.opening_quantity = parseInt(ret.data[0].plan_opening_quantity);
                                 that.grand_total = parseFloat(ret.data[0].plan_grand_total);
                                 that.actual_quantity = parseInt(ret.data[0].plan_actual_quantity);
                                 that.plan_discount_amount_order = parseFloat(ret.data[0].plan_discount_amount_order);
                                 if(ret.data[0].plan_arrival_date == 'null'){
                                    plan_arrival_date_order = ''
                                 }else{
                                     plan_arrival_date_order = ret.data[0].plan_arrival_date
                                 }
                                 if(ret.data[0].plan_pay_date == 'null'){
                                     plan_pay_date_order = ''
                                 }else{
                                     plan_pay_date_order = ret.data[0].plan_pay_date
                                 }
                                 that.pland_arrival_date = plan_arrival_date_order;
                                 that.pay_date = plan_pay_date_order;
                                 that.plan_vendor_doc_number = ret.data[0].plan_vendor_doc_number;
                                 that.comments = ret.data[0].plan_comments;
                                 that.plansData = ret.data[0].plan_items.filter(function (item) {
                                     if(item.sku == row.sku){
                                         return true;
                                     }else {
                                         return false;
                                     }
                                 });
                             }else{
                                 alert(ret.message)
                             }
                         }

                     });
                },
                complete_order(){
                    if(this.actual_quantity == 0){
                        alert("请填写实收数量！");
                        return false;
                    }
                    if(this.total_paid == 0){
                        alert("请填写实付金额！");
                        return false;
                    }
                    if(this.pay_date == ''){
                        alert("请选择付款日期！");
                        return false;
                    }
                    if(this.plan_vendor_doc_number == ''){
                        alert("请填写供应商原单号！");
                        return false;
                    }
                    if(this.plan_breach == ''){
                        alert("请填写批次！");
                        return false;
                    }
                    data = {
                        receipt_number:this.receipt_number,
                        plan_number:this.plan_number,
                        quantity:this.total_quantity,
                        actual_quantity:this.actual_quantity,
                        total_paid:this.total_paid,
                        comments: this.comments,
                        pay_date: this.pay_date,
                        plan_vendor_doc_number:this.plan_vendor_doc_number,
                        vendor: this.vendor,
                        plan_breach:this.plan_breach,
                        grand_total:this.grand_total,
                        batch: this.batch,
                        order_item: this.plansData
                    }

                    url = "{% url 'purchase_order_complete' %}"
                     $.ajax({
                         type: "POST",
                         url: url,
                         data: {"form_data": JSON.stringify(data)},
                         dataType: "json",
                         success: function(ret){
                             if(ret.code == 0){
                                //window.close();
                                 var url_list = "{% url 'purchase_receipt_order_new' %}";
                                 window.location.href = url_list
                             }else {
                                 alert(ret.msg)
                             }
                         }
                     });
                }
            }
        });
    </script>
{% endblock %}
