{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
    .el-collapse-item__header,.el-collapse-item__content{
        padding-left:30px;
    }
    .el-collapse-item__header{
        font-weight: bold;

    }
    #sub{
        float: right;
    }
    </style>
{% endblock %}
{% block h1 %}Purchase{% if form_data.total %}<span class="label label-default">{{ form_data.total }}</span>
{% endif %} {% endblock %}
{% block small %}采购计划{% endblock %}
{% block content %}
<div id="app" v-cloak>
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Actions</h3>
                </div>
                <div class="box-header">

                    <div style="float: left;">
                        <div class="input-group input-group" style="width: 200px;">
                            <input type="text" class="form-control" id="number" placeholder="Please enter the order number"
                               autofocus="autofocus" {% if form_data.search_entity %}value="{{ form_data.search_entity }}"{% endif %} @keyup.enter="btnSearch">
                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-flat" @click="btnSearch">Search</button>
                            </span>

                        </div>
                    </div>
                    <div style="float: right;">
                        <a href="{% url 'purchase_plan_new' %}" target="_blank"><el-button type="primary">创建采购计划</el-button></a>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!--<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>-->
                <!-- /.box-header -->
                <div class="box-body">
                    <el-table
                        :data="tableData"
                        style="width: 100%">
                        <el-table-column type="expand">
                            <template scope="props">
                                <el-table :data="props.row.activities"
                                    style="width: 100%">
                                    <el-table-column
                                        v-if="show"
                                        label="ID"
                                        prop="item_id"
                                        width="80">
                                    </el-table-column>
                                    <el-table-column
                                        v-if="show"
                                        label="采购单号"
                                        prop="plan_number"
                                        width="200">
                                    </el-table-column>
                                    <el-table-column
                                        label="SKU"
                                        prop="sku"
                                        width="80">
                                    </el-table-column>
                                    <el-table-column
                                        label="数量"
                                        prop="quantity"
                                        width="80">
                                        <template slot-scope="scope">
                                            <input class="edit-cell" v-if="scope.row.request_edit_flag" v-model="scope.row.quantity" style="width: 50px;">
                                            <span v-if="!scope.row.request_edit_flag">
                                                {% verbatim %}
                                                    {{scope.row.quantity}}
                                                {% endverbatim %}
                                            </span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                        label="单价"
                                        prop="price"
                                        width="80">
                                       <template slot-scope="scope">
                                            <input class="edit-cell" v-if="scope.row.request_edit_flag" v-model="scope.row.price" style="width: 50px;">
                                            <span v-if="!scope.row.request_edit_flag">
                                                {% verbatim %}
                                                    {{scope.row.price}}
                                                {% endverbatim %}
                                            </span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                        label="小计"
                                        prop="subtotal"
                                        width="80">
                                    </el-table-column>
                                    <el-table-column
                                        label="状态"
                                        prop="item_status"
                                        width="100">
                                    </el-table-column>
                                     <el-table-column label="操作" v-if="!props.row.is_status_flag">
                                      <template slot-scope="scope">
                                        <el-button
                                            v-if="!scope.row.request_edit_flag"
                                            size="mini"
                                            @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                        <el-button
                                            v-if="scope.row.request_edit_flag"
                                            size="mini"
                                            type="success"
                                            @click="handleSave(scope.$index, scope.row)">保存</el-button>
                                        <el-button
                                          v-if="!scope.row.request_edit_flag"
                                          size="mini"
                                          type="danger"
                                          @click="handleDel(scope.$index, scope.row)">关闭</el-button>
                                      </template>
                                    </el-table-column>
                                </el-table>
                            </template>
                        </el-table-column>
                        <el-table-column
                            label="采购单号"
                            prop="plan_number"
                            width="200">
                        </el-table-column>
                        <el-table-column
                            prop="plan_status"
                            label="状态"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            prop="plan_vendor_num"
                            label="供应商"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            prop="plan_total_quantity"
                            label="总数量"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            prop="plan_grand_total"
                            label="总金额"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            prop="plan_create_at"
                            label="创建时间"
                            width="200">
                        </el-table-column>
                        <el-table-column
                            prop="plan_comments"
                            label="说明"
                            >
                        </el-table-column>
                         <el-table-column label="操作">
                          <template slot-scope="scope">
                            <el-button
                              v-bind:disabled="scope.row.disflag"
                              size="mini"
                              type="danger"
                              @click="handleSubmit(scope.$index, scope.row)">提交</el-button>
                            <el-button
                              v-bind:disabled="scope.row.disflag"
                              size="mini"
                              type="danger"
                              @click="handleDelAll(scope.$index, scope.row)">关闭</el-button>
                          </template>
                        </el-table-column>
                    </el-table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>
    <!--paginator-->
<div style="width: 100%;text-align: center;">
    {% include 'page_number.html' %}
</div>
{% endblock %}
{% block jquery %}
    <script src={% static "js/vue.js" %}></script>
    <script src={% static "js/element.js" %}></script>
    <!--<script src={% static "js/axios.min.js" %}></script>-->
    <script src={% static "js/qs.min.js" %}></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        var vm = new Vue({
            el: '#app',
            data: {
                reverse: false,
                show:false,
                tableData: [],
            },
            beforeMount(){
            },
            created(){
                this.tableData = [
                    {% for item in data_list %}
                        {
                            plan_number: "{{ item.plan_number  }}",
                            plan_status: "{{ item.plan_status  }}",
                            plan_create_at:"{{ item.plan_created_at  }}",
                            plan_comments:"{{ item.plan_comments  }}",
                            plan_vendor_num:"{{ item.plan_vendor_num }}",
                            plan_grand_total: "{{ item.plan_grand_total }}",
                            plan_total_quantity: "{{ item.plan_total_quantity }}",
                            disflag: {% if item.plan_status == 'DRAFT' %} false {% else %} true {% endif %},
                            is_status_flag: {% if item.plan_status == 'DRAFT' %} false {% else %} true {% endif %},
                            activities:[
                                {% for item_ac in item.plan_items %}
                                    {
                                        plan_number: "{{ item_ac.plan_number  }}",
                                        sku: "{{ item_ac.sku  }}",
                                        price: "{{ item_ac.price }}",
                                        quantity: "{{ item_ac.quantity  }}",
                                        subtotal: "{{ item_ac.subtotal  }}",
                                        item_status: "{{ item_ac.item_status  }}",
                                        item_id: "{{ item_ac.item_id  }}",
                                        request_edit_flag:eval("{{ item_ac.request_edit_flag }}")
                                    },
                                 {% endfor %}
                            ],
                        },
                    {% endfor %}
                ]
            },
            methods:{
                btnSearch(){
                    order_number = $("#number").val();
                    url = "{% url 'purchase_plan_list' %}";
                    if (order_number == '' || order_number == null) {
                        layer.msg('请输入单号或SKU!', {time: 3000, icon: 7});
                    }
                    else {
                        location.href = url + '?filter=' + order_number;
                    }
                },
                handleDelAll(index, row){
                    var that = this
                    url = "{% url 'purchase_plan_del' %}"
                    form_data = {doc_number: row.plan_number, flag: 'all'}
                     $.ajax({
                         type: "GET",
                         url: url,
                         data: form_data,
                         dataType: "json",
                         success: function(ret){
                             if(ret.code == 0){
                                alert("执行成功！");
                                that.tableData = that.tableData.filter(item => item.plan_number !== row.plan_number)
                             }else{
                                 alert(ret.message)
                             }
                         }

                     });
                },
                handleDel(index, row){
                    var that = this
                    url = "{% url 'purchase_plan_del' %}"
                    form_data = {doc_number: row.plan_number,sku: row.sku, flag: "item"}
                     $.ajax({
                         type: "GET",
                         url: url,
                         data: form_data,
                         dataType: "json",
                         success: function(ret){
                             if(ret.code == 0){
                                 alert("执行成功！")
                                 //that.tableData = that.tableData.filter(item => item.plan_number !== row.plan_number)
                             }else{
                                 alert(ret.message)
                             }
                         }

                     });
                },
                //点击编辑
                handleEdit(index, row) {
                    row.request_edit_flag = true
                },
                handleSave(index, row){
                    console.log(row)
                    var that = this
                    url = "{% url 'purchase_plan_save' %}"
                    form_data = {doc_number: row.plan_number, sku: row.sku, quantity: row.quantity, price: row.price, subtotal: parseFloat(row.quantity) * parseFloat(row.price)}
                     $.ajax({
                         type: "GET",
                         url: url,
                         data: form_data,
                         dataType: "json",
                         success: function(ret){
                             if(ret.code == 0){
                                 //alert("执行成功！")
                                 row.subtotal = parseFloat(row.quantity) * parseFloat(row.price)
                                 for(i=0;i<that.tableData.length;i++){
                                    if(row.plan_number == that.tableData[i].plan_number){
                                        var new_plan_grand_total = 0
                                        var new_plan_total_quantity = 0
                                        for (j=0;j<that.tableData[i].activities.length;j++) {
                                            new_plan_grand_total = parseFloat(new_plan_grand_total) + parseFloat(that.tableData[i].activities[j].subtotal)
                                            new_plan_total_quantity = parseInt(new_plan_total_quantity) + parseInt(that.tableData[i].activities[j].quantity)
                                        }
                                        that.tableData[i].plan_grand_total = new_plan_grand_total
                                        that.tableData[i].plan_total_quantity = new_plan_total_quantity
                                    }
                                 }

                                 row.request_edit_flag = false
                             }else{
                                 alert(ret.message)
                             }
                         }

                     });

                },
                handleSubmit(index, row){
                    url = "{% url 'purchase_plan_change_status' %}"
                    form_data = {doc_number: row.plan_number}
                     $.ajax({
                         type: "GET",
                         url: url,
                         data: form_data,
                         dataType: "json",
                         success: function(ret){
                             if(ret.code == 0){
                                row.disflag = true;
                                row.is_status_flag = true;
                                row.plan_status = 'SUBMITED';
                                for(i=0;i<row.activities.length;i++){
                                    row.activities[i].item_status='SUBMITED';
                                }
                             }else{
                                 alert(ret.message);
                             }
                         }

                     });
                }
            }
        });
    </script>
{% endblock %}