{% extends 'base.html' %}
{% load static %}
{% block style %}
{% endblock %}
{% block h1 %}Workshop {% if page_info.total %}<span class="label label-primary">{{ page_info.total }}</span>
{% endif %} {% endblock %}
{% block small %}装配中的订单{% endblock %}
{% block content %}
    <!-- Main content -->
    <section class="content">
        <div id="div_tip" class="callout callout-default" style="display: none;">
            <h4>Tips!</h4>

            <p>This is only beta version.</p>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">操作</h3>
                    </div>
                    <div class="box-body">
                        <div style="float: left;">{% include 'search.html' %}</div>

                        <div class="cl">
                            <div style="float: left;margin-right: 0px;display:none">
                                <button id="backPrev" type="button" class="btn btn-default btn active" role="button"
                                        onClick="javascript :history.back(-1);">Back
                                </button>
                            </div>

                            <div style="float: left;margin-left: 5px;">
{# 添加VD9#}
                                <div class="btn-group" id="filters" style="float: left;margin-left: 10px;">
                                    <button class="btn workshop_assembling" type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        VD <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            {% if not prefix == 'wx' %}
                                                <a href="{{ requestUrl }}?vendor=all">
                                                    {% ifequal vendor 'all' %}
                                                        *
                                                    {% endifequal %}
                                                        全部
                                                </a>
                                            {% endif %}
                                        </li>
                                         {% for vc in vendors_choices %}
                                            {% if prefix == 'wx' %}
                                                {% if vc.value == '9' or vc.value == '5' %}
                                                    <li>
                                                        <a href={{ requestUrl }}?vendor={{ vc.key }}>
                                                            {% ifequal vendor vc.key %}
                                                                *
                                                            {% endifequal %}
                                                            {{ vc.value }}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% else %}
                                                <li>
                                                    <a href={{ requestUrl }}?vendor={{ vc.key }}>
                                                        {% ifequal vendor vc.key %}
                                                            *
                                                        {% endifequal %}
                                                        {{ vc.value }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--Table-->
                <div id="tableContent">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th><input id="chk_all" type="checkbox"></th>
                            <th>订单号</th>
                            <th class="hid">镜架</th>
                            <th class="hid">数量</th>
                            <th class="hid">镜片</th>
                            <!--<th class="hid">高散</th>-->
                            <!--<th class="hid">染色</th>-->
                            <!--<th class="hid">镜片类型</th>-->
                            <th class="hid">订单日期</th>
                            <th>下达日期</th>
                            <th>生产时长</th>

                            <th class="hid">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for item in list %}
                            <tr>
                                <td><input name="chk_items" value="{{ item.Entity_id }}" type="checkbox"></td>
                                <td><a name="lbo_details"
                                       href="javascript:void(0)"
                                       id="{{ item.id }}"
                                       lab_number = "{{ item.lab_number }}"
                                >{{ item.lab_number }}</a></td>
                                <td class="hid">{{ item.frame }}</td>
                                <td class="hid">
                                    {% ifequal item.quantity 1 %}
                                        {{ item.quantity }}
                                    {% endifequal %}
                                    {% ifnotequal item.quantity 1 %}
                                        <span class="label-default">&nbsp {{ item.quantity }} &nbsp</span>
                                    {% endifnotequal %}
                                </td>
                                <td class="hid {{ item.lab_number }}_act_td">{{ item.act_lens_name }}</td>
                                <!--<td class="hid">{{ item.tint_name }}</td>-->
                                <!--<td class="hid">{{ item.lens_type }}</td>-->
                                <td class="hid">{{ item.order_date }}</td>
                                <td class="">{{ item.get_purchase_date }}</td>
                                <td class="
                                    {% ifequal item.level_of_purchase 1 %}label-success{% endifequal %}
                                    {% ifequal item.level_of_purchase 2 %}label-warning{% endifequal %}
                                    {% ifequal item.level_of_purchase 3 %}label-danger{% endifequal %}">{{ item.hours_of_purchase }}</td>
                                <td class="hid">
                                    <a name="lbo_details"
                                       href="javascript:void(0)"
                                       id ="{{ item.id }}"
                                       lab_number="{{ item.lab_number }}"
                                    >
                                        Details</a>

                                    <!-- /btn-group -->

                                </td>
                            </tr>
                            <tr class="lab_order_details" style="display:none">
                                <td colspan="21">
                                    <div name="details">

                                    </div>
                                </td>
                            </tr>
                            <tr style="display:none">
                                <td colspan="20">
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>

        <!--paginator-->
    <div style="width: 100%;text-align: center;">
        <ul class="pagination" id="pager">
            {#上一页按钮开始#}
            {#如果当前页有上一页#}
            {% if list.has_previous %}
                {#当前页的上一页按钮正常使用#}
                <li class="previous"><a
                        href="{{ requestUrl }}?page={{ list.previous_page_number }}&filter={{ filter }}&status={{ status }}&vendor={{ vendor }}&ltype={{ ltype }}">previous</a>
                </li>
            {% else %}
                {#当前页的不存在上一页时,上一页的按钮不可用#}
                <li class="previous disabled"><a href="#">previous</a></li>
            {% endif %}
            {#上一页按钮结束#}
            {#页码开始#}
            {% for num in paginator.page_range %}

                {% if num == currentPage %}
                    <li class="item active"><a
                            href="{{ requestUrl }}?page={{ num }}&filter={{ filter }}&status={{ status }}&vendor={{ vendor }}&ltype={{ ltype }}">{{ num }}</a>
                    </li>
                {% else %}
                    <li class="item"><a
                            href="{{ requestUrl }}?page={{ num }}&filter={{ filter }}&status={{ status }}&vendor={{ vendor }}&ltype={{ ltype }}">{{ num }}</a>
                    </li>

                {% endif %}
            {% endfor %}
            {#页码结束#}
            {#下一页按钮开始#}
            {% if list.has_next %}
                <li class="next"><a
                        href="{{ requestUrl }}?page={{ list.next_page_number }}&filter={{ filter }}&status={{ status }}&vendor={{ vendor }}&ltype={{ ltype }}">next</a>
                </li>
            {% else %}
                <li class="next disabled"><a href="#">next</a></li>
            {% endif %}
            {#下一页按钮结束#}
        </ul>
    </div>

    </section>
    <!-- /.content -->
<div id="laborder_detail" style="display: none;">
    <div class="form-group" style="padding: 0 5px;">
        <div id="laborder_content"></div>
    </div>
</div>
{% endblock %}
{% block jquery %}
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
        // 搜索
        $("#number").bind("keypress", function (event) {
            if (event.keyCode == "13") {
                $("#btnSearch").click();
            }
        });

        $("#btnSearch").on("click", function () {
            entity = $("#number").val();  //获取订单号
            {#console.log(entity);#}
            if (entity == '' || entity == null) {  //如果订单号为空,提示请输入订单号
                layer.msg('Please enter a order number', {time: 3000, icon: 7});
            } else {
                //location.href = url + '?entity_id=' + entity;
                url = "{% url 'workshop_assembling' %}";
                // var order_number = obj.attr("order_number");
                var order_number = $("#number").val();
                {#console.log(order_number);#}
                var index = layer.load(); //换了种风格

                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        'lab_nubmer': order_number
                    },
                    success: function (arg) {
                        window.location.href = url + '?entity_id=' + order_number;
                        layer.close(index);
                    }

                });
            }
        });

        $("a[name='lbo_details']").each(function () {
            $(this).bind("click", function () {
                var index = layer.load(); //换了种风格
                var lab_number = $(this).attr('lab_number');
                var _html = [];
                var url = "/oms/redirect_laborder_detail/"+lab_number+"/";

                $.ajax({
                    url: url,
                    type: 'post',
                    data: {

                    },
                    success: function (arg) {
                        _html.push(arg);
                        $('#laborder_content').html(_html.join(''));
                        var index = layer.open({
                            type: 1,
                            shade: false,
                            title: 'Lab Order Detail', //不显示标题
                            content: $('#laborder_detail'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                            btn: ['关闭'],
                            area: ['85%', '100%'],
                            shade:0.7,
                            shift: 1,

                            cancel: function () {
                                layer.msg('直接关闭 什么也不会处理', {time: 5000});
                                layer.closeAll();
                            },
                            yes: function () {
                                layer.closeAll();
                            }
                        });
                    }
                });
                $(this).parents("tr").next().toggle(400);
            });
        });

        {% comment %}$('#laborder_detail').click(function (event) {
            $('#laborder_detail').hide();
        });{% endcomment %}
    </script>
{% endblock %}