<div class="col-xs-12">
    <div class="box-body form-inline box">
        <div class="form-group">
            <div class="layui-form">
                 <select style="width: 300px; height: 35px; line-height: 35px;" id="issuing_warehouse">
                    <option value="">请选择调出仓库</option>
                    {% for item in whs %}
                        <option value="{{ item.code }}">{{ item.name }}</option>
                    {% endfor %}
                 </select>
            </div>
{#            <input type="text" name="issuing_warehouse" class="form-control" id="issuing_warehouse"#}
{#                   value=""#}
{#                   placeholder="Issuing Warehouse"#}
{#                   style="width:160px;"/>#}
        </div>
        <div class="form-group">
            <div class="layui-form">
                 <select style="width: 300px; height: 35px; line-height: 35px;" id="receiving_warehouse">
                    <option value="">请选择调入仓库</option>
                    {% for item in whs %}
                        <option value="{{ item.code }}">{{ item.name }}</option>
                    {% endfor %}
                 </select>
            </div>
{#            <input type="text" name="receiving_warehouse" class="form-control" id="receiving_warehouse"#}
{#                   value=""#}
{#                   placeholder="Receiving Warehouse"#}
{#                   style="width:160px;"/>#}
        </div>
        <div class="form-group">
            <input type="text" name="interbranch_order_number" class="form-control" id="interbranch_order_number"
                   value=""
                   placeholder="Interbranch Order Number"
                   style="width:200px;"/>
        </div>
        <div class="form-group">
            <input type="text" name="frame_sku" class="form-control" id="frame_sku"
                   value=""
                   placeholder="SKU"
                   style="width:160px;"/>
        </div>
        <div class="form-group">
            <input type="text" name="sku_attribute" class="form-control" id="sku_attribute"
                   value=""
                   placeholder="SKU Attribute"
                   style="width:160px;"/>
        </div>
       {% if flag == 'list' %}
            <div class="form-group" id="filters">
                <div class="layui-form">
                    <select name="city" lay-verify="" lay-filter="test" id="order_status">
                        <option value="">Select Order Status</option>
                        {% for item in status_data %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
       {% endif %}
    <button type="button" class="btn btn-primary" id="search_btn" style="margin-left: 5px;" lay-event="save">Search</button>
    </div>
</div>
