{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css" />
    <style>
        .span_title{
            padding-right: 30px;
        }
        .stack_a{
            cursor: pointer;
            color: #ffffff;
        }
        /* 防止下拉框的下拉列表被隐藏---必须设置--- */
        .layui-table-cell {overflow: visible !important;        }
        /* 使得下拉框与单元格刚好合适 */
        td .layui-form-select{
            margin-top: -10px;
            margin-left: -15px;
            margin-right: -15px;
        }
    </style>
{% endblock %}
{% block h1 %}成镜订单管理 {% if form_data.total %}<span class="label label-info">{{ form_data.total }}</span>
{% endif %} {% endblock %}
{% block small %}{{ title }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                {% include 'stockorder_list_search.html' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                {% include 'stockorder_list_actions.html' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Stock Order List：</h3>
                </div>
                <table class="layui-hide" id="stock_in_table" lay-filter="demo" style="overflow-x: hidden;"></table>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
        laydate.render({
          elem: '#start_date'
          ,type: 'datetime' //默认，可不填
        });
        laydate.render({
          elem: '#finish_date'
          ,type: 'datetime' //默认，可不填
        });
        layui.use(['table', 'layer', 'element', 'jquery', 'form'], function() {
            var table = layui.table;
            var form = layui.form;
            //第一个实例
            table.render({
                elem: '#stock_in_table'
                ,toolbar: '#toolbarDemo'
                , height: 'full-10'
                , url: "{% url 'stock_order_new_data' %}"
                , where: {flag:'{{ flag }}'}
                ,done: function(res, curr, count){
                    console.log(res);
                    //得到当前页码
                    console.log(curr);
                    //得到数据总量
                    console.log(count);
                }
                , cellMinWidth: 100
                , page: true //开启分页
                , limit:30
                , limits:[30,50,70,90,120,10000]
                , even: true
                , cols: [[ //表头
                    {type:'checkbox'}
                    ,{field: 'id', title: 'ID',width: 80, sort: true,}
                    , {field: 'stock_order_number', title: '订单号', width: 200}
                    , {field: 'product_sku', title: '成镜SKU'}
                    , {field: 'status', title: '状态', sort:true, width: 100}
                    , {field: 'quantity', title: '数量',sort:true}
                    , {field: 'remaining_qty', title: '剩余数量', sort:true}
                    , {field: 'frame', title: '镜架 SKU'}
                    , {field: 'od_lens_name', title: '镜片(OD)', width: 200}
                    , {field: 'od_lens_sph', title: 'SPH'}
                    , {field: 'od_lens_cyl', title: 'CYL'}
                    , {field: 'od_len_qty', title: '数量'}
                    , {field: 'os_lens_name', title: '镜片(OS)', width: 200}
                    , {field: 'os_lens_sph', title: 'SPH'}
                    , {field: 'os_lens_cyl', title: 'CYL'}
                    , {field: 'os_len_qty', title: '数量'}
                    , {field: 'comments', title: '备注',{% if flag == 'create' %}width: 240{% endif %}}
                    , {field: 'start_date', title: '开始日期', width: 200}
                    , {field: 'finish_date', title: '结束日期', width: 200}
                    , {field: 'user_name', title: '用户'}
                    , {field: 'lab_qty', title: 'lab_qty', hide: true}
                    , {title: 'QTY', width: 80,{% if flag == 'create' %}hide: false{% else %} hide: true{% endif %}, templet: function(row){
                            var barBtnsHTML = '<input type="text" style="width:50px;height:30px;line-height:30px;" id="lab_qty" lay-event="editqty">';
                            return barBtnsHTML;
                    }}
                ]]
            });
            $("#search_btn").click(function () {
                var stock_order_number = $("#stock_order_number").val();
                var start_date = $("#start_date").val();
                var finish_date = $("#finish_date").val();
                var frame_sku = $("#frame_sku").val();
                var order_status = $("#order_status").val();
                table.reload('stock_in_table',{
                    url: "{% url 'stock_order_new_data' %}",
                    where: {
                        stock_order_number:stock_order_number,
                        start_date:start_date,
                        finish_date:finish_date,
                        frame_sku:frame_sku,
                        order_status:order_status
                    },
                    page:{
                        curr:1
                    }
                })
            });
            //输入转lab的数量
            table.on('tool(demo)', function(obj){
                var data = obj.data;
                console.log(data);
                if(obj.event === 'editqty'){
                    layui.$(this).on('input porpertychange',function(e){
                        var val= layui.$(this).val();
                        console.log(val);
                        if(val == 0 || val == '0' || val == ''){
                            layer.msg('数量不能为0或空！', {time:3000,icon:7});
                            return
                        }
                        if(data['remaining_qty']-parseInt(val)< 0){
                            layer.msg('请输入正确的数量！', {time:3000,icon:7});
                            return
                        }
                        data['lab_qty']=val;
                        obj.update(data);//更新行对象数据
                    })
                }
            });

            table.on('toolbar(demo)', function (obj) {
            $(this).attr("disabled",true);
             var layEvent = obj.event;
             var checkStatus = table.checkStatus(obj.config.id);
             var flag = getUrlParam("flag");
             check_data = checkStatus.data;

             if(check_data.length == 0){
                layer.msg('请选择要操作的数据', {time:3000,icon:7});
                 return
             }
             if(layEvent == 'create' && flag == 'create'){
                 var qty_flag = false;
                 for (var i=0; i< check_data.length; i++){
                     if(check_data[i].lab_qty == 0){
                         qty_flag = true;
                         break
                     }
                 }
                 if(qty_flag){
                     layer.msg('请输入制作数量', {time:3000,icon:7});
                     return
                 }
             }
            console.log(JSON.stringify(check_data));
             var url = "{% url 'change_stock_order_status' %}";
             $.ajax({
                url: url,
                type: 'POST',
                data: {
                    "checkdata":JSON.stringify(check_data),
                    "action": layEvent,
                    "flag": flag
                },
                dataType:'json',
                success: function (arg) {
                    if (arg.code == 0){
                        qty_flag = false;
                        layer.msg(arg.msg, {icon:6,time:3000});
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000)
                    }else {
                        layer.msg(arg.msg, {icon:7,time:3000})
                    }
                }
             });
            });
        });
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r!=null) return unescape(r[2]); return null; //返回参数值
        }
    </script>
{% endblock %}
