<div class="col-xs-12">
    <div class="box-body form-inline box">
        <div class="form-group">
            <input type="text" name="start_date" class="form-control" id="start_date"
                   placeholder="Date From"/>
        </div>
        <div class="form-group">
            <input type="text" name="finish_date" class="form-control" id="finish_date"
                   placeholder="Date To"/>
        </div>
        <div class="form-group">
            <input type="text" name="frame_sku" class="form-control" id="frame_sku"
                   value=""
                   placeholder="Frame SKU"
                   style="width:120px;"/>
        </div>
        <div class="form-group">
            <input type="text" name="stock_order_number" class="form-control" id="stock_order_number"
                   value=""
                   placeholder="Stock Order Numbe"
                   style="width:300px;"/>
        </div>
       {% if flag == 'list' %}
            <div class="form-group" id="filters">
                <div class="layui-form">
                    <select name="city" lay-verify="" lay-filter="test" id="order_status">
                        <option value="">Select Order Status</option>
                        {% for item in status_data %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
       {% endif %}
        <button type="button" class="btn btn-primary" id="search_btn" style="margin-left: 5px;" lay-event="save">Search</button>
    </div>
</div>
