<div class="row">
    <div class="col-md-12">
        <!-- Line chart -->
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-plane"></i>

                <h3 class="box-title">发货单详情 - <span class="label label-default" style="font-size:large">
                            {{ delivery.id }}</span></h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box label-default">
                        <div class="inner">
                            <h3>{{ delivery.e_count }}</h3>

                            <p>E</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="{{ requestUrl }}?pd_entity={{ delivery.id }}&ship_region=E" class="small-box-footer">查看列表 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                 <div class="col-lg-2 col-sm-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box label-default">
                        <div class="inner">
                            <h3>{{ delivery.w_count }}</h3>

                            <p>W</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="{{ requestUrl }}?pd_entity={{ delivery.id }}&ship_region=W" class="small-box-footer">查看列表 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                 <div class="col-lg-2 col-sm-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box label-default">
                        <div class="inner">
                            <h3>{{ delivery.express_count }}</h3>
                            <p>Express</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="{{ requestUrl }}?pd_entity={{ delivery.id }}&ship_region=Express" class="small-box-footer">查看列表 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                 <div class="col-lg-2 col-sm-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box label-default">
                        <div class="inner">
                            <h3>{{ delivery.get_orders_count }}</h3>

                            <p>订单数量</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                         <a class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                 <div class="col-lg-2 col-sm-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box label-default">
                        <div class="inner">
                            <h3>{{ delivery.get_glasses_count }}</h3>

                            <p>镜架数量</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                         <a class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                 <div class="col-lg-2 col-sm-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box label-default">
                        <div class="inner">
                            <h3>{{ delivery.other_count }}</h3>

                            <p>其他配送方式</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="{{ requestUrl }}?pd_entity={{ delivery.id }}&ship_region=Other" class="small-box-footer">查看列表 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>

            </div>
            <!-- /.box-body-->
        </div>
        <!-- /.box -->

    </div>
    <!-- /.col -->
</div>
<!-- /.row -->