{% extends 'base.html' %}
{% load static %}
{% block h1 %}Shipments {% if form_data.total %}<span class="label label-default">{{ form_data.total }}</span>
{% endif %} {% endblock %}
{% block small %}已拣配{% endblock %}
{% block content %}
    <div style="float: left;">{% include 'search.html' %}</div>
    <!--Search-->
    <div class="btn-group" id="filters" style="float: left;margin-left: 10px;">
        <button class="btn btn-default btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            过滤器 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href={{ requestUrl }}?filter=week&status={{ status }}&vendor={{ vendor }}>{% ifequal filter 'week' %}
                *{% endifequal %}
                最近一周</a></li>
            <li><a href={{ requestUrl }}?filter=month&status={{ status }}&vendor={{ vendor }}>
                {% ifequal filter 'month' %}*{% endifequal %}
                最近一月</a></li>
            <li><a href={{ requestUrl }}?filter=all&status={{ status }}&vendor={{ vendor }}>{% ifequal filter 'all' %}
                *{% endifequal %}
                全部</a></li>
        </ul>


    </div>

    <!--Search end-->

    <!--Table-->
    <div id="tableContent">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Status</th>
                <th>创建日期</th>
                <th>发货</th>
                <th>订单数量</th>
                <th>眼镜数量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            {% for item in list %}
                <tr>
                    <td><a href="{% url 'delivery_detail' %}?pd_entity={{ item.id }}">{{ item.id }}</a></td>
                    <td>{{ item.get_status_display }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>{{ item.user_name }}</td>
                    <td>{{ item.get_orders_count }}</td>
                    <td>{{ item.get_glasses_count }}</td>
                    <td>{% if item.status == '' %}<button type="button" class="btn btn-primary open_close_box" data="{{ item.id }}" data-flag="close">关闭</button>{% elif item.status == 'SHIPPED' %}<button type="button" class="btn btn-primary open_close_box" data="{{ item.id }}" data-flag="open">打开</button>{% endif %}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <!--Table end-->

    <!--paginator-->
    <div style="width: 100%;text-align: center;">
        {% include 'page_number.html' %}
    </div>
    <!--paginator end-->

{% endblock %}
{% block jquery %}
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        // 搜索
        $("#number").bind("keypress", function (event) {
            if (event.keyCode == "13") {
                $("#btnSearch").click();
            }
        });

        $("#btnSearch").on("click", function () {
            order_number = $("#number").val();
            var url = "{% url 'delivery' %}";
            if (order_number == '' || order_number == null) {
                layer.msg('Please enter a order number', {time: 3000, icon: 7});
            }
            else {
                location.href = url + '?pd_entity=' + order_number;
            }
        });
        $(".open_close_box").click(function () {
            var id = $(this).attr('data');
            var flag = $(this).attr('data-flag');
            var url = "{% url 'shipment_open_close_box' %}";
            $.ajax({
                url: url,
                type: 'GET',
                data: {
                    'id': id,
                    'flag': flag
                },
                dataType:'json',
                success: function (resp) {
                    if (resp.code == 0) {
                        layer.alert("此操作已成功.");
                        window.location.reload();
                    } else {
                        layer.alert("操作失败: " + resp.message);
                    }
                },
                error: function (resp) {
                    layer.msg('未知错误，操作失败: ' + resp.message);
                }
            })
        });
    </script>
{% endblock %}